<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>TARIF A2</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text space">Les prestations indiquées <span class="blue">en bleu sont gratuites</span> si vous vous en chargez vous-même ; <span class="gray">celles en gris sont optionnelles</span> et celles en blanc sont obligatoires.</p>
      <ul>
        <li class="formation-text_li"><span class="blue">40€ - Frais de demande d'inscription au permis sur l'ANTS (<a id="blue" href="/formation/permis-a2">aide ici</a>).</span></li>
        <li class="formation-text_li">40€ - Frais de gestion de l'élève.</li>
        <li class="formation-text_li">12€ - Fournitures pédagogiques.</li>
        <li class="formation-text_li">38€ - Évaluation préalable.</li>
        <li class="formation-text_li"><span class="gray">70€ - Code en ligne (accès à 720 questions de code en ligne pendant 1 an).</span></li>
        <li class="formation-text_li"><span class="gray">10€ - Livre de code moto.</span></li>
        <li class="formation-text_li">760€ - 20 cours de conduite minimum à 38€ l'unité (15 cours si vous possédez déjà le permis A1 : 570€).</li>
        <li class="formation-text_li">57€ - Présentation examen plateau.</li>
        <li class="formation-text_li">57€ - Présentation examen circulation.</li>
        <li class="formation-text_li"><span class="blue">40€ - Frais de demande de délivrance du titre sur l'ANTS (<a id="blue" href="/fabrication/permis-a2">aide ici</a>).</span></li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text">Durée moyenne de la formation : 3 mois.</p>
      <p class="formation-text">Prévoir équipement : Casque et gants homologués. Chaussures montantes, blouson et jean au minimum.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>