<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>TARIFS PASSERELLE A2 VERS A</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text">La formation A2 vers A se déroule en 7 heures sur 2 demi-journées pour un coût total de 287€ (dont 100€ d’acompte à la réservation) incluant les prestations ci dessous :</p>
      <ul>
        <li class="formation-text_li">2h de plateau.</li>
        <li class="formation-text_li">2h de théorie.</li>
        <li class="formation-text_li">3h de circulation.</li>
        <li class="formation-text_li">Frais de demande de délivrance du titre du permis de conduire.</li>
      </ul>
      <p class="formation-text space">Vous trouverez <a class="underline" href="/inscription/a2-vers-a">ici</a>, les démarches pour s'inscrire.</p>
      <p class="formation-text space">Prévoir équipement de protection : Casque et gants homologués. Chaussures montantes, blouson et jean au minimum.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>