<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>TARIF AM</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text">La formation au permis AM se déroule en 8 heures sur 2 demi-journées (principalement les mercredis après-midi) pour un coût total de 272€ (dont 100€ d’acompte à la réservation) incluant les prestations ci dessous :</p>
      <ul>
        <li class="formation-text_li">2h de plateau.</li>
        <li class="formation-text_li">1h de théorie.</li>
        <li class="formation-text_li">4h de circulation.</li>
        <li class="formation-text_li">1h de sensibilisation (avec la présence d'un représentant légal si l'élève est mineur).</li>
        <li class="formation-text_li">Frais de demande de délivrance du titre du permis de conduire.</li>
      </ul>
      <p class="formation-text space">Vous trouverez <a class="underline" href="/inscription/permis-am">ici</a>, les démarches pour s'inscrire.</p>
      <p class="formation-text space">La formation se fait sur scooter ; cependant si l'élève est amené à conduire une 50cm3 à vitesses, nous proposons après la formation de faire gratuitement un cours de 2h sur le véhicule de l'élève afin de maîtriser l'embrayage et la boîte de vitesses.</p>
      <p class="formation-text space">Prévoir équipement : Casque et gants homologués. Chaussures montantes, blouson et jean au minimum.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>