<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>TARIFS PASSERELLE B78 VERS B</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text">La formation B78 vers B se déroule en 7 heures pour un coût total de 362€ (dont 100€ d’acompte à la réservation) incluant les prestations ci dessous :</p>
      <ul>
        <li class="formation-text_li">7 cours de conduite.</li>
        <li class="formation-text_li">Frais de demande de délivrance du titre du permis de conduire.</li>
      </ul>
      <p class="formation-text space">Vous trouverez <a class="underline" href="/inscription/b78-vers-b">ici</a>, les démarches pour s'inscrire.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>