<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>TARIFS PERFECTIONNEMENT DE CONDUITE</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text">Toute personne titulaire d'un permis voiture (manuelle ou automatique) ou permis moto, peut s'il le souhaite, réaliser un cours de conduite ou plus pour faire le point sur sa conduite (code de la route, conduite économique, audite de conduite, peurs de certaines situations, etc...). Aucune démarche administrative n'est nécessaire ; il vous suffit de venir à l'auto-école munit :</p>
      <ul>
        <li class="formation-text_li">d'une pièce d'identité.</li>
        <li class="formation-text_li">de votre permis de conduire.</li>
        <li class="formation-text_li">48€ le cours personnalisé d'une heure.</li>
      </ul>
    </div>
  </main>

  <%- include('../partials/footer') %>