<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>INSCRIPTION PERMIS AM</h1>
      <div class="formation-top_inscription"><a href="/formation/permis-am">PERMIS AM</a></div>
    </div>
    <div class="formation-middle">
      <div class="text-group space">
        <p class="formation-text large underline">Réaliser l'inscription à l'école de conduite</p>
        <p class="formation-text">Pièces à fournir pour l'inscription :</p>
        <ul>
          <li class="formation-text_li">Carte Nationale d'Identité (venir avec l'originale) du candidat et de son représentant légal s'il est mineur.</li>
          <li class="formation-text_li">Livret de famille si le candidat et son représentant légal n'ont pas le même nom de famille.</li>
          <li class="formation-text_li">Justificatif de domicile de moins de 6 mois du candidat (avis d'imposition, taxe d'habitation, taxe foncière, facture de loyer non manuscrite, facture ou attestation de contrat de fournisseur d'eau, gaz, électricité, téléphone, internet).</li>
          <li class="formation-text_li">Attestation d'hébergement <span class="underline">(en ligne)</span> si le candidat n'a pas de justificatif de domicile à son nom, la Carte Nationale d'Identité de l'hébergeant (recto/verso) et un justificatif de domicile de moins de 6 mois.</li>
          <li class="formation-text_li">Certificat de Journée Défense et Citoyenneté pour les 17-25 ans (si vous ne l'avez plus, vous pouvez le récupérer sur <link target="_blank" href="">https://presaje.sga.defense.gouv.fr</link>).</li>
          <li class="formation-text_li">ASSR niveau 1 ou 2 ou ASR.</li>
          <li class="formation-text_li">Dossier de permis de conduire pour NEPH si une formation au permis B/AAC est en cours.</li>
          <li class="formation-text_li">1 Code e-photo du candidat de moins de 6 mois au format ANTS (photographe ou photomaton).</li>
          <li class="formation-text_li">Adresse mail au nom de l'élève.</li>
          <li class="formation-text_li">Acompte de 100€ à la réservation.</li>
        </ul>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
