<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>INSCRIPTION PERMIS B</h1>
      <h2>- CONDUITE SUPERVISÉE -</h2>
      <h3>(Boîte manuelle & automatique)</h3>
      <div class="formation-top_inscription"><a href="/formation/permis-b-supervisee">PERMIS B - CONDUITE SUPERVISÉE</a></div>
    </div>
    <div class="formation-middle">
      <div class="text-group space">
        <p class="formation-text large">1 - <span class="underline italic-bold">Réaliser l'inscription préfectorale au permis de conduire avec l'ANTS</span></p>
      <p class="formation-text space">​Si vous le faite vous-même, c'est gratuit et c'est sur <link target="_blank" href="https://ants.gouv.fr">https://ants.gouv.fr</link>. N'ayant pas accès au dossier, en cas de problème technique, administratif ou autres, nous ne pourrons vous aider. Il faudra contacter le service "Permis de conduire" de l'ANTS par téléphone au 3400. Sinon nous pouvons nous charger de l'inscription pour vous, moyennant 35€ TTC.</p>
        <p class="formation-text">Pièces à fournir pour l'établissement du dossier ANTS :</p>
        <ul>
          <li class="formation-text_li">Carte Nationale d'Identité (recto & verso) du candidat et de son représentant légal s'il est mineur.</li>
          <li class="formation-text_li">Livret de famille si le candidat et son représentant légal n'ont pas le même nom de famille.</li>
          <li class="formation-text_li">Permis de conduire AM, A1, A2 du candidat si obtenu (recto & verso).</li>
          <li class="formation-text_li">Justificatif de domicile de moins de 6 mois du candidat (avis d'imposition, taxe d'habitation, taxe foncière, facture de loyer non manuscrite, facture ou attestation de contrat de fournisseur d'eau, gaz, électricité, téléphone, internet).</li>
          <li class="formation-text_li">Attestation d'hébergement <span class="underline">(en ligne)</> si le candidat n'a pas de justificatif de domicile à son nom, la Carte Nationale d'Identité de l'hébergeant (recto/verso) et un justificatif de domicile de moins de 6 mois.</li>
          <li class="formation-text_li">Certificat de Journée Défense et Citoyenneté pour les 17-25 ans (si vous ne l'avez plus, vous pouvez le récupérer sur <link target="_blank" href="">https://presaje.sga.defense.gouv.fr</link>).</li>
          <li class="formation-text_li">1 Code e-photo du candidat de moins de 6 mois au format ANTS (photographe ou photomaton).</li>
        </ul>
      </div>
      <h3 class="formation-text underline">IMPORTANT : chaque document doit être parfaitement lisible, intégral et en couleur !</h3>
      <div class="text-group space">
        <p class="formation-text large">2 - <span class="underline italic-bold">Finaliser l'inscription à l'école de conduite</span></p>
        <p class="formation-text">Pièces à fournir pour commencer la formation :</p>
        <ul>
          <li class="formation-text_li">Justificatif de dépôt de demande téléchargeable après l'inscription sur l'ANTS.</li>
          <li class="formation-text_li">Carte Nationale d'Identité du candidat (venir avec l'originale).</li>
          <li class="formation-text_li">Permis de conduire AM, A1 du candidat si obtenu (venir avec l'original).</li>
          <li class="formation-text_li">1 photo d'identité du candidat.</li>
          <li class="formation-text_li">6 timbres postaux au tarif normal.</li>
        </ul>
      </div>
      <div class="text-group space">
        <p class="formation-text large">3 - <span class="underline italic-bold">Passer les examens de code et de conduite</span></p>
        <ul>
          <li class="formation-text_li">Télécharger et transmettre l'Attestation d'inscription au permis de conduire après validation de l'ANTS.</li>
        </ul>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
