<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>INSCRIPTION perfectionnement</h1>
      <h2>- FORMATION TRADITIONNELLE</h2>
      <h3>(Boîte manuelle & automatique)</h3>
      <div class="formation-top_inscription"><a href="/inscription/btrad">INSCRIPTION-FORMATION TRADITIONNELLE</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text">Le permis B permet de conduire les véhicules :</p>
      <ul>
        <li class="formation-text_li">dont le PTAC (poids total autorisé en charge) n'excède pas 3,5 tonnes, qu'il soit affecté au transport de personnes ou de marchandises.</li>
        <li class="formation-text_li">disposant de 9 places assises maximum.</li>
        <li class="formation-text_li">avec une remorque dont le PTAC :</li>
        <ul>
          <li class="formation-text_li li-bis">est inférieur ou égal à 750 kg.</li>
          <li class="formation-text_li li-bis">est supérieur à 750 kg s'il ne dépasse pas le poids à vide du véhicule et que le PTAC du véhicule et de la remorque ne dépasse pas 3,5 tonnes.</li>
        </ul>
      </ul>
      <p class="formation-text space">Depuis le 8 août 2015, les titulaires du permis B peuvent conduire les véhicules et appareils agricoles ou forestiers (et véhicules pouvant y être assimilés), dès lors que leur vitesse n'excède pas 40 km/h, peu importe que ces véhicules soient attachés ou non à une exploitation agricole ou forestière. Cette mesure a été instaurée par la loi Macron.</p>
      <p class="formation-text">Il permet également la conduite de véhicules accessibles avec d'autres permis :</p>
      <ul>
        <li class="formation-text_li">permis B1.</li>
        <li class="formation-text_li">permis A1, à condition d'avoir au moins 2 ans d'ancienneté de permis et de suivre une formation 7h (Formation 125Cm3/L5e).</li>
      </ul>
    </div>
    <div class="formation-bottom">
      <h2 class="title-bis">- LA FORMATION TRADITIONNELLE -</h2>
      <p class="formation-text">Pour s'inscrire à la formation traditionnelle, il faut :</p>
      <ul>
        <li class="formation-text_li">être âgé de 17 ans ou plus.</li>
        <li class="formation-text_li">avoir l'accord de son représentant légal (si mineur).</li>
      </ul>
      <p class="formation-text">La formation traditionnelle comprend une formation théorique, le passage du code de la route ainsi qu'une formation pratique de 20h minimum obligatoire (ou 13h sur boîte automatique). Après avoir obtenu l'examen du code de la route, l'épreuve de conduite consiste en un parcours de 32 min, sur lequel l'élève sera jugé sur ses comportements au volant du véhicule, ses réflexes, sa conduite et sa façon d'appréhender la circulation routière.</p>
      <p class="formation-text">
        Si le candidat réussit cette épreuve pratique, il obtient alors le permis de conduire de la catégorie B ; probatoire avec 6 points au départ puis 12 points au bout de 3 ans.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
