<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>FABRICATION PERMIS B</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text large"><span class="underline italic-bold">Félicitations pour l'obtention de ton permis</span>😀</p>
      <p class="formation-text space">Le CEPC résultat "Favorable" faisant office de permis provisoire est valable 4 mois à compter du jour de ton examen. Lors d'un contrôle routier, il doit être présenté avec ta Carte Nationale d'Identité en cours de validité.</p>
      <p class="formation-text space">Télécharge le sur <a href="https://www.securite-routiere.gouv.fr">https://www.securite-routiere.gouv.fr</a> à l'aide de ton NEPH.</p>
      
      <p class="formation-text large underline italic-bold">Demande de fabrication du titre de permis de conduire</p>
      
      <p class="formation-text space">Effectue gratuitement la demande de fabrication de ton titre de permis de conduire sur <a href="https://ants.gouv.fr">https://ants.gouv.fr</a> en joignant (numérisés ou photographiés) les documents ci-dessous. N'ayant pas accès au dossier, en cas de problème technique, administratif ou autres, nous ne pourrons t'aider. Il faudra contacter le service "Permis de conduire" de l'ANTS par téléphone au 3400. Sinon nous pouvons nous charger de la fabrication du titre pour toi, moyennant 40€.</p>
      <p class="formation-text space"></p>
      <p class="formation-text">Pièces à fournir pour l'inscription :</p>
      <ul>
        <li class="formation-text_li">Carte Nationale d'Identité (recto & verso) ou passeport du candidat.</li>
        <li class="formation-text_li">Permis de conduire AM, A1, A2 du candidat si obtenu (recto & verso).</li>
        <li class="formation-text_li">ASSR2, ASR ou déclaration sur l'honneur conforme annexe VII (si moins de 21ans ou si 1er permis).</li>
        <li class="formation-text_li">Justificatif de domicile de moins de 6 mois du candidat (avis d'imposition, taxe d'habitation, taxe foncière, facture de loyer non manuscrite, facture ou attestation de contrat de fournisseur d'eau, gaz, électricité, téléphone, internet).</li>
        <li class="formation-text_li">Attestation d'hébergement (<a id="green" href="https://www.service-public.fr/simulateur/calcul/AttestationHebergement">en ligne</a>) si le candidat n'a pas de justificatif de domicile à son nom, la Carte Nationale d'Identité de l'hébergeant (recto/verso) et un justificatif de domicile de moins de 6 mois.</li>
        <li class="formation-text_li">CEPC (résultat d'examen "Favorable" valable 4 mois).</li>
        <li class="formation-text_li">1 Code e-photo de moins de 6 mois au format ANTS (photographe ou photomaton).</li>
      </ul>
    </div>
    <div class="formation-bottom">
      <h3 class="formation-text space underline">Informations utiles</h3>
      <p class="formation-text space"></p>
      <p class="formation-text center">ANTS</p>
      <p class="formation-text center">Agence Nationale des Titres Sécurisés</p>
      <p class="formation-text center"><a id="blue" href="https://ants.gouv.fr">https://ants.gouv.fr</a></p>
      <p class="formation-text center">Tél : 3400</p>
      <p class="formation-text space"></p>
      <p class="formation-text center">NEPH</p>
      <p class="formation-text center">Numéro d'Enregistrement Préfectoral Harmonisé</p>
      <p class="formation-text center">Numéro de permis du candidat (Ex : 130753200340)</p>
      <p class="formation-text space"></p>
      <p class="formation-text center">ASSR2</p>
      <p class="formation-text center">Si perdu... Le demander au collège où il a été passé ou fournir une déclaration sur l'honneur de son obtention</p>
      <p class="formation-text center">(<a id="green" href="https://www.service-public.fr/particuliers/vosdroits/F16548">téléchargeable ici</a>)</p>


      
    </div>
  </main>

  <%- include('../partials/footer') %>
