<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PERMIS A1</h1>
      <div class="formation-top_inscription"><a href="/inscription/permis-a1">INSCRIPTION PERMIS A1</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text">Pour s'inscrire au permis A2, il faut :</p>
      <ul>
        <li class="formation-text_li">être âgé de 16 ans ou plus.</li>
        <li class="formation-text_li">avoir l'accord de son représentant légal (si mineur).</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text">La formation au permis A1 comprend une formation théorique spécifique 2 roues, le passage du code moto (ETM) même si votre code est encore valable ainsi qu'une formation pratique de 20h minimum obligatoire. Après avoir obtenu le code moto, l'épreuve pratique du permis A1 se déroule en 2 phases :</p>
      <ul>
        <li class="formation-text_li">la première : hors circulation.</li>
        <li class="formation-text_li">la seconde : en circulation.</li>
      </ul>

      <p class="formation-text space">Le permis A1 autorise à conduire les motocyclettes dont la cylindrée n’excède pas 125 cm3, dont la puissance n’excède pas 11 kW (15ch) et dont le rapport puissance/poids est inférieur à 0,1 kW par kilogramme.</p>
  
      <div class="text-group space">
        <p class="formation-text underline">Equipement à prévoir :</p>
        <p class="formation-text">Casque et gants homologués. Blouson, jean et chaussures montantes.</p>
      </div>

    <div class="formation-bottom">
      <h2>- EPREUVES PERMIS A1-</h2>
      <p class="formation-text">L’épreuve pratique de l’examen du permis de conduire de la catégorie A1 comporte 2 phases :</p>
      <ul>
        <li class="formation-text_li">la première : hors circulation.</li>
        <li class="formation-text_li">la seconde : en circulation.</li>
      </ul>
      <p class="formation-text">L’évaluation réalisée par l’expert est basée sur des textes réglementaires et instructions précises qui en fixent les modalités.</p>
      
      <p class="formation-text space"></p>

      <p class="formation-text large">1 - <span class="underline italic-bold">L'examen hors circulation</span> (durée : 10 minutes)</p>
      
      <p class="formation-text space">L'épreuve hors circulation constitue une admissibilité pour l'épreuve en circulation. L'objectif de cette épreuve est d'évaluer le niveau des savoir-faire que vous avez acquis au travers d’un enchaînement de 6 manœuvres devant être réalisées sans interruption.​​​​​​​​​​​​​​​​​​​</p>

      <img src="/images/formation/plateau.webp" alt="" srcset="">

      <p class="formation-text large">2 - <span class="underline italic-bold">L'examen en circulation</span> (durée : 40 minutes)</p>
      
      <p class="formation-text space">L'objectif de l'épreuve en circulation est d'évaluer le niveau de connaissance, des compétences techniques et comportementales que vous avez atteintes pour circuler en toute sécurité.​</p>

    </div>
  </main>

  <%- include('../partials/footer') %>
