<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PASSERELLE A2 VERS A</h1>
      <div class="formation-top_inscription"><a href="/inscription/a2-vers-a">INSCRIPTION PASSERELLE A2 VERS A</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text space">Cette formation se déroule sur une ou deux demies journées. Elle peut être suivie trois mois avant la date anniversaire des deux ans de l'obtention du permis A2 et n'impose pas de nouvel examen.</p>
      <p class="formation-text">Le permis moto catégorie A2 peut être un permis transitoire vers le permis catégorie A (sans limitation de puissance).</p>
      <p class="formation-text space">Cette transition du A2 vers A est composée d'une séquence théorique et de deux séquences pratiques, dont l'une réalisée en plateau et l'autre en circulation sur la voie publique. La séquence en circulation comprend des phases d'écoute pédagogique.</p>
      <p class="formation-text space">Le programme est simple, en 7 Heures revoir les principaux exercices du plateau pour revalider les principes et réflexes de sécurité pour transformer votre permis moto catégorie A2 en catégorie A.

        La passerelle  vous permettra donc de passer en A et de ne plus être bridé à 47,5 chevaux afin de pouvoir conduire toutes les motos de votre choix sans limitation de puissance.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
