<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PERMIS AM</h1>
      <h2>(anciennement BSR)</h2>
      <div class="formation-top_inscription"><a href="/inscription/permis-am">INSCRIPTION PERMIS AM</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text">La catégorie AM du permis de conduire est équivalente au Brevet de Sécurité Routière (BSR). Elle n’entre pas dans le régime du permis à points. Ce permis peut être délivré à partir de 14 ans à l’issue d’une formation spécifique de 8 heures minimum, délivrée par les écoles d’enseignement de la conduite automobile. Le BSR reste valide. Tout permis de conduire autorise la conduite des véhicules relevant de la catégorie AM.</p>
      <p class="formation-text space large underline">Permis AM "option cyclomoteurs" :</p>
      
      <div class="text-group space">
        <p class="formation-text underline">Type de véhicule :</p>
        <p class="formation-text">Cyclomoteurs de cylindrée inférieure ou égale à 50 cm3 et dont la vitesse est limitée par construction à 45 km/h.</p>
      </div>
      <div class="text-group space">
        <p class="formation-text underline">Autorisation :</p>
        <p class="formation-text">Le conducteur doit être âgé d’au moins 14 ans et, s’il est né après le 1er janvier 1988, être titulaire du brevet de sécurité routière (BSR) ou du permis de conduire de la catégorie AM.</p>
      </div>
      <div class="text-group space">
        <p class="formation-text underline">Equipement à prévoir :</p>
        <p class="formation-text">Casque et gants homologués. Blouson, jean et chaussures montantes.</p>
      </div>

      <p class="formation-text space large underline">Permis AM "option quadricycle à moteur" (voiturettes) :</p>

      <div class="text-group space">
        <p class="formation-text underline">Type de véhicule :</p>
        <p class="formation-text">Voiturettes et petits quads de cylindrée inférieure ou égale à 50 cm3 pour un moteur essence ou inférieur ou égale à 4 kW pour un moteur Diesel. </p>
      </div>
      <div class="text-group space">
        <p class="formation-text underline">Autorisation :</p>
        <p class="formation-text">Le conducteur doit être âgé d’au moins 14 ans et, s’il est né après le 1er janvier 1988, être titulaire du brevet de sécurité routière (BSR) ou du permis de conduire de la catégorie AM.</p>
      </div>

    </div>
  </main>

  <%- include('../partials/footer') %>
