<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PASSERELLE B78 VERS B</h1>
      <h2>- (Boîte auto vers boîte manuelle)</h2>
      <div class="formation-top_inscription"><a href="/inscription/b78-vers-b">INSCRIPTION PASSERELLE B78 VERS B</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text space">Les titulaires du permis B "mention 78" limité aux véhicules équipés d’une boîte de vitesses automatique, ayant au minimum 3 mois de permis, peuvent conduire un véhicule en boîte manuelle de même catégorie à condition de suivre une formation de 7 heures minimum. <span class="italic-bold">Cette mesure s’applique aux personnes qui conduisent des voitures « automatiques » pour des raisons non médicales.</span></p>
      <p class="formation-text space">Cette formation remplace la procédure de régularisation consistant à repasser l’examen de conduite devant un inspecteur, chargé de vérifier l’aptitude du conducteur à utiliser efficacement les commandes d’un véhicule à boîte manuelle.</p>
      <p class="formation-text space">Attention, pour les conducteurs de véhicules équipés d’une boîte de vitesses automatique pour des raisons médicales, par exemple suite à un handicap, ainsi que les titulaires des autres catégories de permis de conduire, rien ne change. Ils restent soumis à la procédure de régularisation par l’expert pour la levée de la restriction.</p>
      
    </div>
  </main>

  <%- include('../partials/footer') %>
