<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PERMIS B</h1>
      <h2>- CONDUITE ACCOMPAGNÉE -</h2>
      <h3>(Boîte manuelle & automatique)</h3>
      <div class="formation-top_inscription"><a href="/inscription/permis-b-accompagnee">INSCRIPTION-CONDUITE ACCOMPAGNÉE</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text">Le permis B permet de conduire les véhicules :</p>
      <ul>
        <li class="formation-text_li">dont le PTAC (poids total autorisé en charge) n'excède pas 3,5 tonnes, qu'il soit affecté au transport de personnes ou de marchandises.</li>
        <li class="formation-text_li">disposant de 9 places assises maximum.</li>
        <li class="formation-text_li">avec une remorque dont le PTAC :</li>
        <ul>
          <li class="formation-text_li li-bis">est inférieur ou égal à 750 kg.</li>
          <li class="formation-text_li li-bis">est supérieur à 750 kg s'il ne dépasse pas le poids à vide du véhicule et que le PTAC du véhicule et de la remorque ne dépasse pas 3,5 tonnes.</li>
        </ul>
      </ul>
      <p class="formation-text space">Depuis le 8 août 2015, les titulaires du permis B peuvent conduire les véhicules et appareils agricoles ou forestiers (et véhicules pouvant y être assimilés), dès lors que leur vitesse n'excède pas 40 km/h, peu importe que ces véhicules soient attachés ou non à une exploitation agricole ou forestière. Cette mesure a été instaurée par la loi Macron.</p>
      <p class="formation-text">Il permet également la conduite de véhicules accessibles avec d'autres permis :</p>
      <ul>
        <li class="formation-text_li">permis B1.</li>
        <li class="formation-text_li">permis A1, à condition d'avoir au moins 2 ans d'ancienneté de permis et de suivre une formation 7h (Formation 125Cm3/L5e).</li>
      </ul>
    </div>
    <div class="formation-bottom">
      <h2 class="title-bis">- LA CONDUITE ACCOMPAGNEE -</h2>
      <p class="formation-text">Pour s'inscrire à l'AAC (communément appelé conduite accompagnée), il faut :</p>
      <ul>
        <li class="formation-text_li">être âgé de 15 ans ou plus.</li>
        <li class="formation-text_li">avoir l’accord de son représentant légal et de l’assureur du véhicule.</li>
      </ul>
      <p class="text-group space"></p>
      <p class="formation-text">Pour commencer la conduite accompagnée, il faut :</p>
      <ul>
        <li class="formation-text_li">avoir réussi le code de la route.</li>
        <li class="formation-text_li">avoir suivi une formation pratique de 20 heures minimum (ou 13h sur boîte automatique) avec un enseignant de l’école de conduite.</li>
        <li class="formation-text_li">avoir bénéficié d’une évaluation favorable de la part de son enseignant de la conduite et de la sécurité routière qui se matérialise par la remise de l’attestation de fin de formation.</li>
      </ul>

      <div class="text-group space">
        <p class="formation-text underline">Quels sont les avantages de l'AAC ?</p>
        <ul>
          <li class="formation-text_li">réduire la période probatoire du permis à 2 ans au lieu de 3 (les nouveaux titulaires du permis de conduire disposent de 6 points sur leur permis et doivent attendre deux ans sans infraction avant d’en obtenir 12).</li>
          <li class="formation-text_li">commencer la formation initiale en école de conduite (code et conduite) dès 15 ans.</li>
          <li class="formation-text_li">acquérir de l’expérience de conduite.</li>
          <li class="formation-text_li">passer l’épreuve du permis de conduire à 17 ans. En revanche, il n’est possible de conduire seul qu’à partir de 18 ans.</li>
          <li class="formation-text_li">augmenter sensiblement ses chances de réussite à l’examen du permis de conduire : 74% de chances de l’obtenir dès la première fois contre 55% par la voie de l’apprentissage traditionnel.</li>
          <li class="formation-text_li">souvent d’obtenir un tarif préférentiel sur son assurance « jeune conducteur ».</li>
        </ul>
        <p class="formation-text">L'accompagnateur doit :</p>
        <ul>
          <li class="formation-text_li">être titulaire du permis B (permis automobile) depuis au moins cinq ans sans interruption.</li>
          <li class="formation-text_li">avoir obtenu l'accord de son assureur.</li>
        </ul>
        <p class="formation-text">Il est possible d'avoir plusieurs accompagnateurs, également hors du cadre familial.</p>
      </div>
      <p class="text-group space"></p>
      <div class="text-group space">
        <p class="formation-text underline">Comment se déroule l’AAC ?</p>
        <p class="formation-text">La conduite avec l'accompagnateur se déroule sur une durée d'au moins un an et une distance parcourue de 3 000 km minimum. Cette période débute par un rendez-vous préalable et est ponctuée de deux rendez-vous pédagogiques obligatoires.</p>
        <ul>
          <li class="formation-text_li">Le rendez-vous préalable a lieu en présence de l'enseignant et du futur accompagnateur, au moment où l'enseignant estime que l'élève est prêt à conduire avec son accompagnateur. L'enseignant dispense alors ses conseils aux deux parties pour bien commencer la période de conduite accompagnée.</li>
          <li class="formation-text_li">Le 1er rendez-vous pédagogique a lieu entre quatre et six mois après la date de délivrance de l'attestation de fin de formation initiale.</li>
          <li class="formation-text_li">Le 2nd rendez-vous pédagogique a lieu après 3 000 km parcourus.</li>
        </ul>
        <p class="formation-text space">Lors de ces rendez-vous pédagogiques, animés par un enseignant de la conduite, les élèves sont invités à échanger sur leurs premières expériences et sur des thèmes de sécurité routière.</p>
        <p class="formation-text space">Une phase de conduite est également prévue pour mesurer les progrès réalisés par l'élève et apporter les conseils nécessaires pour continuer la conduite accompagnée dans de bonnes conditions.</p>
      </div>




  

    </div>
  </main>

  <%- include('../partials/footer') %>
