<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PERMIS B</h1>
      <h2>- CONDUITE SUPERVISÉE -</h2>
      <h3>(Boîte manuelle & automatique)</h3>
      <div class="formation-top_inscription"><a href="/inscription/permis-b-supervisee">INSCRIPTION-CONDUITE SUPERVISÉE</a></div>
    </div>
    <div class="formation-middle">
      <p class="formation-text">Le permis B permet de conduire les véhicules :</p>
      <ul>
        <li class="formation-text_li">dont le PTAC (poids total autorisé en charge) n'excède pas 3,5 tonnes, qu'il soit affecté au transport de personnes ou de marchandises.</li>
        <li class="formation-text_li">disposant de 9 places assises maximum.</li>
        <li class="formation-text_li">avec une remorque dont le PTAC :</li>
        <ul>
          <li class="formation-text_li li-bis">est inférieur ou égal à 750 kg.</li>
          <li class="formation-text_li li-bis">est supérieur à 750 kg s'il ne dépasse pas le poids à vide du véhicule et que le PTAC du véhicule et de la remorque ne dépasse pas 3,5 tonnes.</li>
        </ul>
      </ul>
      <p class="formation-text space">Depuis le 8 août 2015, les titulaires du permis B peuvent conduire les véhicules et appareils agricoles ou forestiers (et véhicules pouvant y être assimilés), dès lors que leur vitesse n'excède pas 40 km/h, peu importe que ces véhicules soient attachés ou non à une exploitation agricole ou forestière. Cette mesure a été instaurée par la loi Macron.</p>
      <p class="formation-text">Il permet également la conduite de véhicules accessibles avec d'autres permis :</p>
      <ul>
        <li class="formation-text_li">permis B1.</li>
        <li class="formation-text_li">permis A1, à condition d'avoir au moins 2 ans d'ancienneté de permis et de suivre une formation 7h (Formation 125Cm3/L5e).</li>
      </ul>
    </div>
    <div class="formation-bottom">
      <h2 class="title-bis">- LA CONDUITE SUPERVISEE -</h2>
      <p class="formation-text">Pour s'inscrire à la conduite supervisée il faut :</p>
      <ul>
        <li class="formation-text_li">être âgé de 17 ans ou plus.</li>
        <li class="formation-text_li">avoir l'accord de l'assureur du véhicule.</li>
      </ul>

      <div class="text-group space">
        <p class="formation-text large underline">Quelles sont les conditions d’accès ? </p>
        <ul>
          <li class="formation-text_li">soit au moment de l’inscription à l’auto-école (après la formation initiale).</li>
          <li class="formation-text_li">soit après un échec à l'épreuve pratique.</li>
        </ul>
      </div>
      <p class="text-group space"></p>
      <p class="formation-text">Pour y accéder, il faut :</p>
      <ul>
        <li class="formation-text_li">avoir réussi le code de la route.</li>
        <li class="formation-text_li">avoir suivi une formation pratique avec un enseignant de l’école de conduite (20 heures minimum ou 13h sur boite automatique).</li>
        <li class="formation-text_li">avoir bénéficié d’une évaluation favorable de la part de son enseignant de la conduite et de la sécurité routière.</li>
        <li class="formation-text_li">avoir 18 ans pour le départ avec l'accompagnateur.</li>
      </ul>
      <p class="text-group space"></p>
      <p class="formation-text">Après la phase de formation initiale, le candidat doit :</p>
      <ul>
        <li class="formation-text_li">Avoir obtenu un accord préalable écrit de la société d’assurances sur l’extension de garantie nécessaire pour la conduite du ou des véhicules utilisé(s) au cours de la future phase de conduite supervisée. Cet accord précise le ou les noms des accompagnateurs autorisés par la société d'assurances à avoir cette fonction. Il est joint au contrat de formation de l'élève, qui précise les obligations relatives à la fonction d'accompagnateur et les conditions spécifiques à la conduite supervisée, ou à l'avenant au contrat de formation, si le choix de la conduite supervisée a été décidé après la conclusion du contrat.</li>
        <li class="formation-text_li">Avoir obtenu l'attestation de fin de formation initiale (AFFI). Un exemplaire est transmis à la société d'assurances par le souscripteur du contrat de formation.</li>
      </ul>
      <p class="text-group space"></p>
      <p class="formation-text">Après un échec à l'épreuve pratique de l'examen du permis de conduire, le candidat doit :</p>
      <ul>
        <li class="formation-text_li">Avoir obtenu un accord préalable écrit de la société d'assurances.</li>
        <li class="formation-text_li">Avoir obtenu une autorisation de conduire en conduite supervisée. Un exemplaire est transmis, dès sa délivrance, à la société d'assurances par le souscripteur du contrat de formation.</li>
      </ul>
      <div class="text-group space">
        <p class="formation-text large underline">Quels sont les avantages de la conduite supervisée ?</p>
      <p class="formation-text">La conduite supervisée permet :</p>
        <ul>
          <li class="formation-text_li">d’acquérir de l’expérience de conduite à moindre coût pour compléter sa formation initiale et, en cas d’échec à l’examen pratique, d’améliorer ses acquis en attendant de le repasser.</li>
          <li class="formation-text_li">d’augmenter sensiblement ses chances de réussite à l’examen du permis de conduire.</li>
        </ul>
      </div>
      <div class="text-group space">
        <p class="formation-text large underline">Qui peut être accompagnateur ?</p>
      <p class="formation-text">L'accompagnateur doit:</p>
        <ul>
          <li class="formation-text_li">être titulaire du permis B (permis automobile) depuis au moins cinq ans sans interruption.</li>
          <li class="formation-text_li">avoir obtenu l'accord de son assureur.</li>
          <li class="formation-text_li">Il est possible d'avoir plusieurs accompagnateurs, également hors du cadre familial.</li>
        </ul>
      </div>
      <div class="text-group space">
        <p class="formation-text large underline">Comment se déroule la conduite supervisée ?</p>
        <ul>
          <li class="formation-text_li">La conduite avec l'accompagnateur se déroule sur une une distance parcourue de 1 000 km minimum et sans obligation de durée (contrairement à la conduite accompagnée).</li>
          <li class="formation-text_li">Cette période débute par deux rendez-vous préalables qui ont lieux en présence de l’enseignant et du futur accompagnateur, au moment où l’enseignant estime que l’élève est prêt à conduire avec son accompagnateur. L’enseignant dispense alors ses conseils aux deux parties pour bien commencer la période de conduite supervisée.</li>
        </ul>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
