<%- include('partials/header') %>

<main class="main-container">
    <div class="home-top">
      <div class="home-top_logo">
        <a href="/info/permis-1e"><img class="img-hover" src="/images/Acceuil/permis1E.webp" alt="Permis à 1€"></a>
        <img src="/images/Acceuil/voiture1.png" width="100px" height="100px" alt="" srcset="">
        <a href="/info/label-qualite"><img class="img-hover" src="/images/Acceuil/ecoleQualite.png" alt="Label qualité"></a>
      </div>
      <div class="home-title">
        <h1>FORMAT.CONDUITE</h1>
        <h2>AUTO | MOTO | CYCLO</h2>
        <p>- 20 ans d'expérience -</p>
        <div class="home-top_horaire">
          <img class="top-scotch_up" src="/images/Acceuil/horaireUp.png" alt="scotch">
          <div class="home-top-horaire_text">
            <p>HORAIRES SEANCES DE CODE EN SALLE (1h)</p>
            <p>lundi : 18h</p>
            <p>Mercredi & Samedi : 14h</p>
          </div>
          <img class="top-scotch_down" src="/images/Acceuil/horaireDown.png" alt="scotch">
        </div>
        <h3><span>A noter</span> : Le secrétariat sera fermé du lundi 17 au samedi 22 avril inclus.</h3>
      </div>
    </div>
    <div class="home-middle">
      <div class="home-title">
        <h2>- NOS FORMATIONS -</h2>
      </div>
      <div class="home-middle_formations">
        <div class="home-middle_formation">
          <h3>PERMIS B</h3>
          <img src="/images/Acceuil/voiture2.png" width="100px" height="100px" alt="permis B" srcset="">
          <a href="#">Formation Traditionnelle</a>
          <a href="#">Conduite Accompagnée</a>
          <a href="#">Conduite Supervisée</a>
          <a href="#">Perfectionnement</a>
        </div>
        <div class="home-middle_formation">
          <h3>PERMIS A</h3>
          <img src="/images/Acceuil/moto.png" width="100px" height="100px" alt="permis A" srcset="">
          <a href="#">Permis A1 (125cm3)</a>
          <a href="#">Permis A2 (gros cube)</a>
          <a href="#">Perfectionnement</a>
        </div>
        <div class="home-middle_formation">
          <h3>FORMATIONS</h3>
          <img src="/images/Acceuil/scooter.png" width="100px" height="100px" alt="formations" srcset="">
          <a href="#">Permis AM (BSR)</a>
          <a href="#">Passerelle A2 Vers A</a>
          <a href="#">Passerelle B78 Vers B</a>
        </div>
      </div>
    </div>
    <div class="home-bottom">
      <div class="home-title">
        <h2>- NOS LIENS UTILES -</h2>
        <div class="home-bottom_links">
          <p>Connecte toi à ton code en ligne ou à ton livret de conduite sur Codes Rousseau.</p>
          <a href="#"><img src="/images/Acceuil/link1.webp" alt="code Rousseau"></a>
          </div>
        <div class="home-bottom_links">
          <p>Découvre les vérifications et les questions des premiers secours de l'examen du permis.</p>
            <div class="home-bottom_img">
          <a href="#"><img src="/images/Acceuil/link2.webp" alt="code Rousseau"></a>
          <a href="#"><img src="/images/Acceuil/link3.webp" alt="code Rousseau"></a>
            </div>
        </div>
        <div class="home-bottom_links">
          <p>Apprends plus vite avec notre chaîne YouTube.</p>
          <a href="#"><img src="/images/Acceuil/link4.webp" alt="code Rousseau"></a>
        </div>
        <div class="home-bottom_links">
          <p>Découvre ton résultat à l'examen du permis sur le site de la Sécurité Routière.</p>
          <p class="home-bottom-littleText">(Délai 2 à 4  jours ouvrés munit de ton NEPH indiqué dans ton livret de conduite)</p>
          <a href="#"><img src="/images/Acceuil/link5.webp" alt="code Rousseau"></a>
        </div>
        <div class="home-bottom_links">
          <p>Fabrique ton permis de conduire une fois l'examen réussi.</p>
          <a href="#"><img src="/images/Acceuil/link6.webp" alt="code Rousseau"></a>

        </div>
      </div>
    </div>
  </main>

<%- include('partials/footer') %>