<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permis B | Permis A2 | Format Conduite | Château-Gontier-sur-Mayenne</title>
    <link rel="shortcut icon" href="/images/icon.jpg" type="image/x-icon">
    <link href="https://fonts.cdnfonts.com/css/futura-lt" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/formation.css">
</head>
<body>
  <header class="header-large">
          <li class="large-main_link"><a href="/">ACCUEIL</a></li>
          <li class="large-main_link"><a href="#">NOS FORMATIONS</a>
              <ul class="large-sub">
                  <li class="large-sub_link"><a href="/formation/permis-b-traditionnelle">Permis B - Formation traditionnelle</a></li>
                  <li class="large-sub_link"><a href="/formation/permis-b-accompagnee">Permis B - Conduite accompagnée</a></li>
                  <li class="large-sub_link"><a href="/formation/permis-b-supervisee">Permis B - Conduite supervisée</a></li>
                  <li class="large-sub_link"><a href="/formation/permis-a1">Permis A1 (125 cm3)</a></li>
                  <li class="large-sub_link"><a href="/formation/permis-a2">Permis A2 (moto)</a></li>
                  <li class="large-sub_link"><a href="/formation/permis-am">Permis AM (BSR)</a></li>
                  <li class="large-sub_link"><a href="/formation/a2-vers-a">Passerelle A2 vers A</a></li>
                  <li class="large-sub_link"><a href="/formation/b78-vers-b">Passerelle B78 vers B</a></li>
                  <li class="large-sub_link"><a href="/formation/perfectionnement">Perfectionnement de Conduite</a></li>
              </ul></li>
          <li class="large-main_link"><a href="#">INSCRIPTION</a>
              <ul class="large-sub">
                  <li class="large-sub_link"><a href="/inscription/permis-b-traditionnelle">Permis B - Formation traditionnelle</a></li>
                  <li class="large-sub_link"><a href="/inscription/permis-b-accompagnee">Permis B - Conduite accompagnée</a></li>
                  <li class="large-sub_link"><a href="/inscription/permis-b-supervisee">Permis B - Conduite supervisée</a></li>
                  <li class="large-sub_link"><a href="/inscription/permis-a1">Permis A1 (125 cm3)</a></li>
                  <li class="large-sub_link"><a href="/inscription/permis-a2">Permis A2 (moto)</a></li>
                  <li class="large-sub_link"><a href="/inscription/permis-am">Permis AM (BSR)</a></li>
                  <li class="large-sub_link"><a href="/inscription/a2-vers-a">Passerelle A2 vers A</a></li>
                  <li class="large-sub_link"><a href="/inscription/b78-vers-b">Passerelle B78 vers B</a></li>
              </ul></li>
          <li class="large-main_link"><a href="#">INFORMATIONS PUBLIQUES</a>
              <ul class="large-sub">
                  <li class="large-sub_link"><a href="/info/label-qualite">Label Qualité</a></li>
                  <li class="large-sub_link"><a href="/info/permis-1e">Permis 1€</a></li>
                  <li class="large-sub_link"><a href="/info/reglement-interieur">Règlement Intérieur</a></li>
                  <li class="large-sub_link"><a href="/info/contrat-type">Contrat Type</a></li>
                  <li class="large-sub_link"><a href="/info/formation-personnes-handicape">Formation pour Personnes avec Handicap</a></li>
                  <li class="large-sub_link"><a href="/info/procede-evaluation-b">Procédé d'Evaluation B</a></li>
                  <li class="large-sub_link"><a href="/info/procede-evaluation-a">Procédé d'Evaluation A</a></li>
                  <li class="large-sub_link"><a href="/info/formation-et-examen-cat-b">Formation & Examen - Catégorie B</a></li>
                  <li class="large-sub_link"><a href="/info/formation-et-examen-cat-a">Formation & Examen - Catégorie A</a></li>
                  <li class="large-sub_link"><a href="/info/horaires-cours-theorique">Horaires Cours Théoriques</a></li>
                  <li class="large-sub_link"><a href="/info/theorie-generale">Théorie Générale</a></li>
                  <li class="large-sub_link"><a href="/info/theorie-specifique-2-roues">Théorie Spécifique 2 Roues</a></li>
                  <li class="large-sub_link"><a href="/info/plan-formation-cat-b">Plan de Formation Catégorie B</a></li>
                  <li class="large-sub_link"><a href="/info/plan-formation-cat-a">Plan de Formation Catégorie A</a></li>
                  <li class="large-sub_link"><a href="/info/piste-formation-2-roues">Piste de Formation 2 Roues</a></li>
              </ul></li>
          <li class="large-main_link"><a href="#">TARIFS</a>
              <ul class="large-sub">
                  <li class="large-sub_link"><a href="/tarif/permis-b-traditionnelle">Permis B - Formation traditionnelle</a></li>
                  <li class="large-sub_link"><a href="/tarif/permis-b-accompagnee">Permis B - Conduite accompagnée</a></li>
                  <li class="large-sub_link"><a href="/tarif/permis-b-supervisee">Permis B - Conduite supervisée</a></li>
                  <li class="large-sub_link"><a href="/tarif/permis-a1">Permis A1 (125 cm3)</a></li>
                  <li class="large-sub_link"><a href="/tarif/permis-a2">Permis A2 (moto)</a></li>
                  <li class="large-sub_link"><a href="/tarif/permis-am">Permis AM (BSR)</a></li>
                  <li class="large-sub_link"><a href="/tarif/a2-vers-a">Passerelle A2 vers A</a></li>
                  <li class="large-sub_link"><a href="/tarif/b78-vers-b">Passerelle B78 vers B</a></li>
                  <li class="large-sub_link"><a href="/tarif/perfectionnement">Perfectionnement de Conduite</a></li>
              </ul></li>
          <li class="large-main_link"><a class="contact-link" href="#">CONTACT</a></li>

    </header>
  <div class="header-small">
    <label id="mySidenav" class="sidenav">                        <!-- id pour javascript | class pour CSS --> 
      <a id="closeBtn" href="#" class="close">&times;</a>     <!-- petite croix de fermeture -->
        <div class="header-small_menus">
          <div class="small-menu_block">
            <a class="small-main_link formation-block" href="#">&#9207; NOS FORMATIONS &#9207;</a>
                    <a class="formation-link" href="/formation/permis-b-traditionnelle">Permis B - Formation traditionnelle</a>
                    <a class="formation-link" href="/formation/permis-b-accompagnee">Permis B - Conduite accompagnée</a>
                    <a class="formation-link" href="/formation/permis-b-supervisee">Permis B - Conduite supervisée</a>
                    <a class="formation-link" href="/formation/permis-a1">Permis A1 (125 cm3)</a>
                    <a class="formation-link" href="/formation/permis-a2">Permis A2 (moto)</a>
                    <a class="formation-link" href="/formation/permis-am">Permis AM (BSR)</a>
                    <a class="formation-link" href="/formation/a2-vers-a">Passerelle A2 vers A</a>
                    <a class="formation-link" href="/formation/b78-vers-b">Passerelle B78 vers B</a>
                    <a class="formation-link" href="/formation/perfectionnement">Perfectionnement de Conduite</a>
          <a class="small-main_link inscription-block" href="#">&#9207; INSCRIPTION &#9207;</a>
                  <a class="inscription-link" href="/inscription/permis-b-traditionnelle">Permis B - Formation traditionnelle</a>
                  <a class="inscription-link" href="/inscription/permis-b-accompagnee">Permis B - Conduite accompagnée</a>
                  <a class="inscription-link" href="/inscription/permis-b-supervisee">Permis B - Conduite supervisée</a>
                  <a class="inscription-link" href="/inscription/permis-a1">Permis A1 (125 cm3)</a>
                  <a class="inscription-link" href="/inscription/permis-a2">Permis A2 (moto)</a>
                  <a class="inscription-link" href="/inscription/permis-am">Permis AM (BSR)</a>
                  <a class="inscription-link" href="/inscription/a2-vers-a">Passerelle A2 vers A</a>
                  <a class="inscription-link" href="/inscription/b78-vers-b">Passerelle B78 vers B</a>
          <a class="small-main_link information-block" href="#">&#9207; INFORMATIONS PUBLIQUES &#9207;</a>
                  <a class="information-link" href="/info/label-qualite">Label Qualité</a>
                  <a class="information-link" href="/info/permis-1e">Permis 1€</a>
                  <a class="information-link" href="/info/reglement-interieur">Règlement Intérieur</a>
                  <a class="information-link" href="/info/contrat-type">Contrat Type</a>
                  <a class="information-link" href="/info/formation-personnes-handicape">Formation pour Personnes avec Handicap</a>
                  <a class="information-link" href="/info/procede-evaluation-b">Procédé d'Evaluation B</a>
                  <a class="information-link" href="/info/procede-evaluation-a">Procédé d'Evaluation A</a>
                  <a class="information-link" href="/info/formation-et-examen-cat-b">Formation & Examen - Catégorie B</a>
                  <a class="information-link" href="/info/formation-et-examen-cat-a">Formation & Examen - Catégorie A</a>
                  <a class="information-link" href="/info/horaires-cours-theorique">Horaires Cours Théoriques</a>
                  <a class="information-link" href="/info/theorie-generale">Théorie Générale</a>
                  <a class="information-link" href="/info/theorie-specifique-2-roues">Théorie Spécifique 2 Roues</a>
                  <a class="information-link" href="/info/plan-formation-cat-b">Plan de Formation Catégorie B</a>
                  <a class="information-link" href="/info/plan-formation-cat-a">Plan de Formation Catégorie A</a>
                  <a class="information-link" href="/info/piste-formation-2-roues">Piste de Formation 2 Roues</a>
          <a class="small-main_link tarif-block" href="#">&#9207; TARIFS &#9207;</a>
                  <a class="tarif-link" href="/tarif/permis-b-traditionnelle">Permis B - Formation traditionnelle</a>
                  <a class="tarif-link" href="/tarif/permis-b-accompagnee">Permis B - Conduite accompagnée</a>
                  <a class="tarif-link" href="/tarif/permis-b-supervisee">Permis B - Conduite supervisée</a>
                  <a class="tarif-link" href="/tarif/permis-a1">Permis A1 (125 cm3)</a>
                  <a class="tarif-link" href="/tarif/permis-a2">Permis A2 (moto)</a>
                  <a class="tarif-link" href="/tarif/permis-am">Permis AM (BSR)</a>
                  <a class="tarif-link" href="/tarif/a2-vers-a">Passerelle A2 vers A</a>
                  <a class="tarif-link" href="/tarif/b78-vers-b">Passerelle B78 vers B</a>
                  <a class="tarif-link" href="/tarif/perfectionnement">Perfectionnement de Conduite</a>
          </div>
        </div>
    </label>
    <!-- Icone burger -->
    <div class="header-small_nav">
      <a href="#" class="burger-icon" id="openBtn">
        <button class="burger-icon_bar">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </a>
      <a class="small-nav_link" href="/">Accueil</a>
      <a class="small-nav_link contact-link_mobile" href="#">Contact</a>

    </div>
  </div>
  <!-- Boîte de dialogue modale -->
  <div id="myModal" class="modal">
      <section id="modal-form">
        <div class="modal-up">
          <div class="modal-up_carImage">
            <img src="/images/contact_voiture.webp" alt="voiture auto-école">
          </div>
          <div class="modal-up_infos">
            <h2 class="modal-up_text">FORMAT.CONDUITE</h2>
            <p class="modal-up_text">4 Rue Terre Rouge - Azé</p>
            <p class="modal-up_text">53200 CHATEAU-GONTIER-SUR-MAYENNE</p>
            <p class="modal-up_text">Tél. : 02.49.80.19.68 ou 06.74.17.18.46</p>
            <p class="modal-up_text">format.conduite@gmail.com</p>
            <p class="modal-up_text">N° Agrément : E2105300040</p>
            <p class="modal-up_text">SIRET : 791 829 419 00013 - APE : 8553Z</p>
          </div>
          <div class="modal-up_batImage">
            <img src="/images/contact_agence.webp" alt="agence auto-école">
          </div>
        </div>
        <div class="modal-middle">
          <p>Notre équipe aura le plaisir de vous accueillir au sein de notre école de conduite &#128512;</p>
        </div>
          <div class="modal-down">
            <div class="modal-down_infos">
              <p class="modal-down_text">RENSEIGNEMENTS & INSCRIPTIONS</p>
              <p class="modal-down_text">Lundi et vendredi :</p>
              <p class="modal-down_text">10:00-12:00 | 14:00-17:00</p>
              <p class="modal-down_text">Samedi : 11:00-13:00</p>
              <p class="modal-down_text">(Ou sur rendez-vous à votre convenance)</p>
            </div>
            <div class="modal-down_contact">
              <form action="" method="POST">
                <h2>Nous contacter</h2>
                <input type="text" placeholder="Nom & prénom *" name="nom-prenom" required>
                <input type="text" placeholder="Objet" name="objet" >
                <input type="email" placeholder="Email *" name="email" required>
                <textarea placeholder="Message" name="message" rows="3" ></textarea>
                <div class="form-submit">
                  <button type="submit">Envoyer</button>
                </div>
              </form>
            </div>
            <div class="modal-down_formation">
              <p class="modal-down_text">​COURS & FORMATIONS</p>
              <p class="modal-down_text">Du lundi au vendredi :</p>
              <p class="modal-down_text">8:00-19:00</p>
              <p class="modal-down_text">Samedi : 8:00-15:00</p>
            </div>
          </div>
      </section>
      <div id="modal-background"></div>
  </div>
  <!-- Fin boîte de dialogue modale -->