<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>INFORMATIONS RELATIVES AU CONTRAT TYPE</h1>
   </div>
    <div class="formation-middle">
      <p class="formation-text">Conformément à l'article 1 du décret 2020-142 publié le 20 février 2020, la date du 1er juin signe l’arrivée d’un nouveau contrat-type de permis de conduire. Ce nouveau contrat permet d’assurer une meilleure transparence entre vous et l’auto-école. Il vous permettra notamment:</p>
      <ul>
        <li class="formation-text_li">de mieux comprendre les services proposés,</li>
        <li class="formation-text_li">d’avoir un prévisionnel sur les heures de formation,</li>
        <li class="formation-text_li">de connaître la liste des démarches administratives à réaliser,</li>
        <li class="formation-text_li">d’être informé des conditions de rétractation.</li>
      </ul>
      <p class="formation-text space"></p>

      <p class="formation-text space">Comme obtention du permis rime souvent avec changement de vie, sachez qu’il existe une aide pour les apprentis & alternants qui leur permettra de couvrir des dépenses annexes comme celles d’une souscription internet ou d’un changement de location.</p>
      <p class="formation-text">Pour plus d’informations:</p>
      <ul>
        <li class="formation-text_li">un article exhaustif sur ce nouveau contrat-type: <a id="green" href="https://www.agence-france-electricite.fr/actualites/permis-conduire-contrat-type">https://www.agence-france-electricite.fr/actualites/permis-conduire-contrat-type</a></li>
        <li class="formation-text_li">le décret officiel sur Legifrance: <a id="green" href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000041609995&categorieLien=id">https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000041609995&categorieLien=id</a></li>
        <li class="formation-text_li">des informations complémentaires sur l’aide au permis B pour les apprentis: <a id="green" href="https://www.papernest.com/etat-des-lieux/actualites/aide-permis-conduire-apprentis">https://www.papernest.com/etat-des-lieux/actualites/aide-permis-conduire-apprentis</a></li>
      </ul>
    </div>
  </main>

  <%- include('../partials/footer') %>