<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PROCÉDÉ D’ÉVALUATION B</h1>
      <img src="/images/formation/Oscar2.webp" alt="simulateur Oscar2">
   </div>
    <div class="formation-middle">

      <p class="formation-text large">I - <span class="underline italic-bold">Description</span></p>
      <p class="formation-text">L’évaluation de départ est obligatoire pour toute personne souhaitant commencer une formation pratique au permis B (Art. R. 245-2 du Code de la route). L’objectif est d'estimer le volume d'heures nécessaires à la formation du futur conducteur. Pendant 45-50 minutes, l’élève va réaliser divers exercices permettant d’évaluer ses connaissances et ses capacités nécessaires à l’apprentissage de la conduite.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">II - <span class="underline italic-bold">Déroulement</span></p>
      <ol>
        <li class="formation-text_li">Accueil de l’apprenti conducteur</li>
        <li class="formation-text_li">Test d'acuité visuelle (échelle de Monoyer)</li>
        <li class="formation-text_li">Présentation du simulateur de conduite Oscar 2</li>
        <li class="formation-text_li">Évaluation sur le simulateur de conduite Oscar 2</li>
        <li class="formation-text_li">Résultat d'évaluation (volume d'heures prévisionnel de formation)</li>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">III - <span class="underline italic-bold">Méthode d’évaluation</span> (Simulateur Oscar 2)</p>
      <p class="formation-text">1 - <span class="underline italic-bold">QCM et test psychotechniques</span> (7-8 min)</p>
      <p class="formation-text underline">A – Evaluer l’expérience de conduite et la connaissance du véhicule</p>
      <p class="formation-text">L’élève répond à QCM sur son expérience : permis possédé(s), expérience de conduite, avec qui, où, etc.</p>
      <p class="formation-text">Puis à un QCM sur ses connaissances du véhicule : mécanique, équipements, etc. Cette partie n’entre pas dans le calcul final, mais donne une indication au formateur.</p>
      
      <p class="formation-text space"></p>
      <p class="formation-text underline">B – Evaluer l’appréhension du risque routier (à titre informatif)</p>
      <p class="formation-text">Quelques questions (avec image en support) permettent d’avoir un aperçu de la perception des risques de l’élève.</p>
      <p class="formation-text">La situation doit être estimée comme comportant un risque faible, moyen ou fort. Cette partie n’entre pas dans le calcul final, mais donne une indication au formateur sur la personnalité de son élève.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline">C – Evaluer la compréhension et la mémoire</p>
      <p class="formation-text">Deux tests psychotechniques permettent d’évaluer objectivement ces critères : le jeu des ballons et le jeu de mémorisation.</p>
      <p class="formation-text">Dans le jeu des ballons, l’élève doit comprendre et mettre en action des consignes qui se complexifient au fur et à mesure.</p>
      <p class="formation-text">Dans le jeu de mémorisation, l’élève doit reproduire des suites de couleurs et de sons.</p>

      <p class="formation-text space"></p>
      <p class="formation-text">2 - <span class="underline italic-bold">Exercices sur plateau sur simulateur</span> (13-15 min)</p>
      <p class="formation-text underline">A – Installation au poste de conduite</p>
      <p class="formation-text">Il est demandé à l’élève de s’installer et de valider lorsqu’il estime que son installation est correcte. Le simulateur détecte alors s’il a bien appuyé sur la pédale pour régler son siège et s’il a bien attaché sa ceinture de sécurité.</p>
      <p class="formation-text">Pour être sûr que l’élève adopte une bonne position de conduite, une vidéo lui montre ensuite comment s’installer afin qu’il puisse apporter les modifications nécessaires.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline">B – Démarrage et arrêt</p>
      <p class="formation-text">Deux exercices permettent d’évaluer le démarrage et l’arrêt : le test des jauges et les exercices de démarrage et arrêt.</p>
      <p class="formation-text">Le test de jauges permet d’abord à l’élève d’identifier les pédales, puis on évalue sa capacité à suivre un curseur se déplaçant dans la jauge. S’il arrive à suivre les jauges, c’est qu’il maîtrise la course des pédales. Une fois ce test réalisé, 3 démarrages/arrêts sont effectués par l’élève.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline">C – Utilisation du volant</p>
      <p class="formation-text">Un parcours de slalom permet d’évaluer l’habilité de l’élève à manier le volant. Un passage plus serré permet d’évaluer sa capacité à maintenir le véhicule en ligne droite.</p>
      
      <p class="formation-text space"></p>
      <p class="formation-text">3 - <span class="underline italic-bold">Parcours en agglomération sur simulateur</span> (23-25 min)</p>
      <p class="formation-text">L’élève réalise un parcours de conduite en agglomération, sans circulation. La boîte de vitesse est désactivée et l’élève utilise le frein, l’accélérateur et les clignotants.</p>
      <p class="formation-text">De nombreuses situations sont rencontrées et permettent d’évaluer les compétences suivantes :</p>
      <ul>
        <li class="formation-text_li">Le respect des consignes.</li>
        <li class="formation-text_li">L’attitude à l’égard de la sécurité.</li>
        <li class="formation-text_li">Les trajectoires.</li>
        <li class="formation-text_li">Le respect du code de la route.</li>
        <li class="formation-text_li">L’orientation.</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">IV - <span class="underline italic-bold">Résultat de l’évaluation</span></p>
      <p class="formation-text">Le résultat de l’évaluation est indiqué sous forme de lettre ; la lettre correspond à un volume d’heures prévisionnel qui est communiqué à l’élève.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">V - <span class="underline italic-bold">Qu’est-ce qui pourrais-faire que l’évaluation ne soit pas respectée ?</span></p>
      <p class="formation-text">L’évaluation de départ étant une estimation, le nombre d'heures pourra varier en fonction de votre implication, de la régularité de votre travail et de votre rythme d'apprentissage !</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
