<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PROCÉDÉ D’ÉVALUATION A</h1>
   </div>
    <div class="formation-middle">

      <p class="formation-text large">I - <span class="underline italic-bold">Description</span></p>
      <p class="formation-text">Durant l’évaluation de départ nous évaluons les connaissances théoriques et les aptitudes pratiques. Elle est obligatoire pour toute personne voulant commencer une formation pratique au permis A1 ou A2 (Art. R. 245-2 du Code de la route). Son objectif est d'estimer le volume d'heures moyen nécessaire à la formation. Elle se déroule en moto sur une piste privée et sécurisée pour une durée de 55 minutes, avec comme support la fiche d’évaluation de départ A officielle.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">II - <span class="underline italic-bold">Déroulement</span></p>
      <ol>
        <li class="formation-text_li">Accueil de l’apprenti conducteur</li>
        <li class="formation-text_li">Présentation du déroulement de l’évaluation</li>
        <li class="formation-text_li">Evaluation statique</li>
        <li class="formation-text_li">Evaluation dynamique</li>
        <li class="formation-text_li">Echange entre l’enseignant et l’apprenti conducteur sur le résultat de l’évaluation (10min)</li>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">III - <span class="underline italic-bold">Méthode d’évaluation</span> (support fiche d’évaluation de départ A)</p>
      <p class="formation-text">1 - <span class="underline italic-bold">Renseignement d’ordre général</span></p>
      <p class="formation-text">Le but est de mieux connaître l’apprenti conducteur du point de vue personnel, santé et professionnel car ses informations peuvent avoir une incidence sur le résultat.</p>

      <p class="formation-text space"></p>
      <p class="formation-text">2 - <span class="underline italic-bold">Expérience de la conduite</span></p>
      <p class="formation-text space">Nous cherchons à savoir si l’apprenti conducteur a déjà un permis puisque cela pourrait prouver qu’il a déjà certaines connaissances sur les règles de circulation routière.</p>
      <p class="formation-text">Nous cherchons également à savoir s’il a déjà conduit :</p>
      <ul>
        <li class="formation-text_li">Une motocyclette ? (l’expérience facilite généralement l’apprentissage).</li>
        <li class="formation-text_li">Avec qui ? (des amis, ses parents, en auto-école).</li>
        <li class="formation-text_li">Où ? (ville, route, hors circulation).</li>
        <li class="formation-text_li">S’il n’a jamais conduit de motocyclette, nous voulons savoir s’il a déjà conduit d’autres véhicules (toutes expériences avec un véhicule motorisé est un plus pour lui).</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text">3 - <span class="underline italic-bold">Connaissance du véhicule (direction, boîte de vitesse, embrayage, freinage)</span></p>
      <p class="formation-text">Nous posons des questions sur chacun des 4 thèmes pour évaluer les connaissances de l’apprenti conducteur. Le but étant d’évaluer ses connaissances sur le véhicule ainsi que leurs exactitudes. Si l’apprenti conducteur répond bien aux trois questions d’une catégorie, nous noterons oui ; sinon nous noterons non.</p>
     
      <p class="formation-text space"></p>
      <p class="formation-text">4 - <span class="underline italic-bold">Attitude à l’égard de l’apprentissage et de la sécurité</span></p>
      <p class="formation-text">A l’aide des informations précédentes et d’un échange avec l’apprenti conducteur, nous cherchons à déterminer 2 choses :</p>
      <ul>
        <li class="formation-text_li">Le plus important pour bien conduire, est-ce de savoir maîtriser la motocyclette et de connaître le code de la route, ou bien plutôt, est-ce d’être capable de prévoir les difficultés et de savoir y faire face ?</li>
        <li class="formation-text_li">Avez-vous le désir d’apprendre à conduire ou apprenez-vous par nécessité ?</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text">5 - <span class="underline italic-bold">Les habilités (« B » : bon, « S » : satisfaisant, « F » : faible)</span></p>
      <p class="formation-text">A l’aide d’une évaluation dynamique hors circulation, nous évaluons les habilités de l’apprenti conducteur ainsi que sa capacité à acquérir rapidement les habilités indispensables à la conduite.</p>
      <p class="formation-text space"><span class="underline">Installation au poste de conduite (position) :</span> nous noterons « B » si l’installation et la position sont correctes. Nous noterons « S » si un ou deux éléments ne sont pas correctes ; sinon nous noterons « F ».</p>
      <p class="formation-text"><span class="underline">Départ et arrêt :</span> nous commençons par une (ou plusieurs si nécessaire) démonstration commentée de la procédure de démarrage puis d’arrêt. Le moteur est démarré :</p>
      <p class="formation-text">Départ</p>
      <ul>
        <li class="formation-text_li">Je débraye</li>
        <li class="formation-text_li">Je passe la première vitesse</li>
        <li class="formation-text_li">J’accélère légèrement et je maintiens l’accélérateur</li>
        <li class="formation-text_li">Je cherche le point de patinage et je le maintiens</li>
        <li class="formation-text_li">Je maintiens les commandes pendant 5 secondes</li>
        <li class="formation-text_li">Je relâche doucement l’embrayage</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text">Arrêt</p>
      <ul>
        <li class="formation-text_li">J’arrête d’accélérer</li>
        <li class="formation-text_li">Je place la main droite au-dessus du frein avant</li>
        <li class="formation-text_li">Je place la main gauche au-dessus de l’embrayage</li>
        <li class="formation-text_li">Je débraye et je freine</li>
      </ul>

      <p class="formation-text space">Ensuite l’apprenti conducteur effectue 3 départ/arrêt en autonomie. Nous noterons « B » s’il dose normalement l’accélérateur et maîtrise l’embrayage. Nous noterons « S » s’il a des difficultés à maintenir l’accélération ou contrôle difficilement l’embrayage, ou s’arrête sans souplesse, ou cale le moteur. Nous noterons « F » s’il accélère de façon excessive, ou ne maîtrise pas l’embrayage, ou s’arrête brutalement, ou cale plusieurs fois le moteur.</p>
      <p class="formation-text space"><span class="underline">Équilibre :</span> nous évaluons la coordination des gestes et du regard de l’apprenti conducteur à travers un exercice où nous lui demandons d’effectuer plusieurs ½ tours avec différentes positions de conduite en regardant avant de tourner là où nous lui demandons d’aller. Nous noterons « B » si le regard, les gestes et l’équilibre sont bien coordonnés. Nous noterons « S » si le regard précède les gestes mais que l’équilibre est maintenu difficilement. Nous noterons « F » si le regard ne précède pas les gestes et/ou que l’équilibre n’est pas maintenu.</p>

      <p class="formation-text space"></p>
      <p class="formation-text">6 - <span class="underline italic-bold">La compréhension et la mémoire (« B » : bon, « S » : satisfaisant, « F » : faible)</span></p>
      <p class="formation-text">Nous évaluons la compréhension de l’apprenti conducteur durant les exercices d’habilités en fonction du nombre d’explications et de démonstrations commentées nécessaires. Nous noterons « B » pour une seule explication ou démonstration, « S » pour deux explications ou démonstrations, « F » pour trois explications ou démonstrations.</p>
      <p class="formation-text space">Nous évaluons sa mémoire en lui demandant de restituer les opérations pour le départ et l’arrêt de la motocyclette. Nous noterons « B » s’il n’y a aucunes erreurs de restitution, « S » s’il y a une ou deux erreurs et « F » s’il fait plus de deux erreurs.</p>

      <p class="formation-text space"></p>
      <p class="formation-text">7 - <span class="underline italic-bold">La perception (« B » : bon, « S » : satisfaisant, « F » : faible)</span></p>
      <p class="formation-text"><span class="underline">Sens de la trajectoire :</span> nous évaluons la trajectoire à l’aide d’un slalom décalé (6m d’espacement, 1m d’amplitude) sur le ralenti de la 1ère vitesse. Nous noterons « B » s’il anticipe la trajectoire et réussi l’exercice, « S » s’il n’anticipe pas la trajectoire mais réussi tout de même l’exercice, sinon nous noterons « F ».</p>

      <p class="formation-text space"><span class="underline">Capacité d’observation de l’environnement et d’orientation :</span> nous évaluons sa capacité d’observation en lui faisant observer une situation pendant quelques secondes, puis l’élève se retourne et doit nous restituer les éléments qui lui ont semblé important. Sa capacité d’orientation sera évaluée sur le retour à l’auto-école où il devra diriger l’enseignant. Nous noterons « B » si en observation il restitue les bons éléments et qu’il ne fait aucune erreur d’orientation. Nous noterons « S » s’il fait 1 erreur d’observation et/ou d’orientation, sinon nous noterons « F »</p>
      <p class="formation-text space"><span class="underline">Direction du regard :</span> nous évaluons le regard au cours de l’exercice d’équilibre.</p>

      <p class="formation-text space"></p>
      <p class="formation-text">8 - <span class="underline italic-bold">L’émotivité</span></p>
      <p class="formation-text">Nous évaluons les réactions émotives et la crispation des gestes de l’apprenti conducteur durant toute l’évaluation.</p>

      <p class="formation-text space"><span class="underline">Réactions émotives :</span>nous noterons « B » si elles sont apparentes au début mais s’atténuent par la suite, « S » si elles n’apparaissent pas, « F » si elles sont persistantes ou augmentent.</p>
      <p class="formation-text space"><span class="underline">Crispation des gestes :</span>nous noterons « B » si elle ne se produit pas, « S » si elle s’atténue, « F » si elle est importante et persistante.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">IV - <span class="underline italic-bold">Résultat de l’évaluation</span></p>
      <p class="formation-text">Nous totalisons les points de chaque catégories afin d’avoir un résultat. Si le résultat est inférieur à -12, il est considéré comme faible. S’il est compris entre -12 et +12, inclusivement, il est considéré comme satisfaisant. S’il est supérieur à +12, il est considéré comme bon.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">V - <span class="underline italic-bold">Échange entre l’apprenti conducteur et l’enseignant sur le résultat de l’évaluation (10min)</span></p>
      <p class="formation-text">Avant toute chose nous mettons bien en avant que le résultat chiffré de l’évaluation n’est en aucun cas là pour dire que l’apprenti conducteur est bon, moyen ou mauvais. C’est avant tout un bilan de ses connaissances et habilités en rapport avec la conduite d’une motocyclette qu’il a acquis tout au long de sa vie grâce à ses différentes expériences, tout en tenant compte de sa personnalité et de ses émotions. Ensuite nous reprenons point par point le déroulement de l’évaluation, en indiquant les forces et faiblesses de l’apprenti conducteur afin d’expliquer le résultat de l’évaluation.</p>

      <p class="formation-text space"></p>
      <p class="formation-text space"></p>
      <p class="formation-text large">VI - <span class="underline italic-bold">Qu’est-ce qui pourrais-faire que l’évaluation ne soit pas respectée ?</span></p>
      <p class="formation-text">L’évaluation de départ étant une estimation, le nombre d'heures pourra varier en fonction de votre implication, de la régularité de votre travail et de votre rythme d'apprentissage !</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
