<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PISTE DE FORMATIONS 2 ROUES</h1>
    </div>
    <div class="formation-middle">

      <p class="formation-text space"></p>
<hr />
      <h2>ADRESSE DU LIEU DE FORMATION HORS CIRCULATION</h2>
      <p class="formation-text space"></p>
      <p class="formation-text center">BREGER LOGISTIQUE - Rue de la Monnairie - 53200 Azé</p>
      <p class="formation-text center">Temps de parcours à partir de l’école de conduite : 5 minutes.</p>
      <p class="formation-text center">Location de piste privée éclairée et sécurisée.</p>


      <p class="formation-text space"></p>
<hr />
      <h2>CAPACITÉ D’ACCUEIL</h2>
      <p class="formation-text center">Accès aux locaux BREGER. Garage moto (container) pouvant servir d’abri, toilettes à disposition.</p>
      <p class="formation-text center">Total : 8 Élèves. (3 Élèves A2 - 1 Élève A - 1 Élève A1/Formation 125 - 3 Élèves Formation AM)</p>

      <p class="formation-text space"></p>
<hr />
      <h2>DISPONIBILITÉ</h2>
      <p class="formation-text space"></p>
      <p class="formation-text center">Du lundi au vendredi de 8:00 à 20:00 et le samedi de 8:00 à 15:00.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
