<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PLAN DE FORMATION</h1>
      <h2>- CATÉGORIE A -</h2>
    </div>
    <div class="formation-middle">

      <p class="formation-text">Le programme de formation se divise en 4 compétences:</p>
      <ul>
        <li class="formation-text_li">C1 : Maîtriser le maniement de la moto à vitesse réduite et à vitesse plus élevée hors circulation.</li>
        <li class="formation-text_li">C2 : Appréhender la route et circuler dans des conditions normales.</li>
        <li class="formation-text_li">C3 : Circuler dans des conditions difficiles et partager la route avec les autres usagers.</li>
        <li class="formation-text_li">C4 : Pratiquer une conduite autonome, sûre et économique.</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text">Notre formation est organisée autour de ce programme en plusieurs objectifs de travail en abordant pour chacun d'eux :</p>
      <ul>
        <li class="formation-text_li">Le pourquoi.</li>
        <li class="formation-text_li">Le comment.</li>
        <li class="formation-text_li">Les risques.</li>
        <li class="formation-text_li">Les influences de l’entourage et du mode de vie de l’élève.</li>
        <li class="formation-text_li">Les pressions exercées par la société, tel que la publicité, le travail, etc.</li>
        <li class="formation-text_li">L'auto-évaluation.</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text large">I- <span class="underline italic-bold">La formation pratique hors circulation</span></p>
      <p class="formation-text">L’enseignement de la théorie de la pratique est en général individuel, sur le plateau ou en salle, au début de la séance ou collectivement en salle sur demande.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C1 : Maîtriser le maniement de la moto à vitesse réduite et à vitesse plus élevée hors circulation</p>
      <ol>
      <p class="formation-text space underline">Maniement à allure réduite :</p>

        <li class="formation-text_li">Savoir s'équiper correctement, connaître et comprendre les différents équipements du motard.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Connaître et comprendre les organes principaux et les commandes de la moto.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir béquiller/débéquiller la moto et s'installer au poste de conduite.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir démarrer sur sol plat en ligne droite, avec ou sans accélérateur et s'arrêter. Savoir remettre rapidement le moteur en marche après un calage.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir tourner à gauche, tourner à droite et faire demi-tour au ralenti.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir monter/descendre les vitesses et doser le frein.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir avancer au patinage en ligne droite.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir avancer au patinage en courbe.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir démarrer et s'arrêter sur sol plat en tournant à gauche ou à droite.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir avancer à allure réduite avec un passager.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir démarrer en montée.</li>
        <p class="formation-text space"></p>

      <p class="formation-text space underline">Maniement à allure normale :</p>
      
        <li class="formation-text_li">Savoir incliner la moto à l'aide du contre-braquage (ou braquage inverse).</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir effectuer un freinage d'urgence simulé.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir effectuer un évitement à gauche ou à droite.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir vérifier l'état de son véhicule et l'entretenir.</li>
        <p class="formation-text space"></p>
      </ol>


      <p class="formation-text space"></p>
      <p class="formation-text large">II- <span class="underline italic-bold">Préparation à l’examen pratique hors circulation du permis de conduire (le plateau)</span></p>

      <ol>
        <li class="formation-text_li">Présentation du lieu de l'examen.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Connaître le déroulement de l’examen pratique hors circulation du permis de conduire et en comprendre les intérêts.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir s'exprimer oralement devant un examinateur (épreuve de fiches).</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier les signes du stress et comment les atténuer.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text large">III- <span class="underline italic-bold">La formation pratique en circulation</span></p>
      <p class="formation-text">L’enseignement de la théorie de la pratique est en général individuel, en salle, au début de la séance ou collectivement en salle sur demande.</p>

      <p class="formation-text underline italic-bold">C2 : Appréhender la route et circuler dans des conditions normales</p>
    
      <ol>
        <li class="formation-text_li">Savoir se placer dans sa voie de circulation, maintenir/modifier son allure et sa direction en prenant en compte la rétro vision et les angles morts.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir rechercher la signalisation, les indices utiles et en tenir compte.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec régime de priorité à droite hors agglomération.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec régime de priorité à droite en agglomération.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un STOP.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un Cédez le Passage.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir franchir et changer de direction à une intersection, avec peu ou pas de visibilité, sans s’arrêter.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un giratoire avec une ou plusieurs voies de circulation.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec feux tricolores.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir manipuler les accessoires du véhicule à l’arrêt et en circulation.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir s’arrêter et stationner en tenant compte du revêtement du sol et de l'inclinaison.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C3 : Circuler dans des conditions difficiles et partager la route avec les autres usagers</p>
      <ol>
        <li class="formation-text_li">Savoir évaluer/maintenir des espaces de sécurité et évaluer la vitesse des véhicules.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir effectuer un croisement dans un environnement étroit.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir dépasser à double sens et être dépassé.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir s’insérer, sortir, circuler et dépasser sur voie rapide.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir choisir sa voie de circulation, changer de voie et circuler dans une circulation dense.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir évaluer, franchir un virage le plus en sécurité possible et conduire en déclivité.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C4 : Pratiquer une conduite autonome, sûre et économique</p>
   
      <ol>
        <li class="formation-text_li">Savoir suivre un itinéraire en autonomie.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir préparer un voyage sur une longue distance en autonomie.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir maîtriser les différents aspects de l’éco-conduite.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text large">IV- <span class="underline italic-bold">Préparation à l’examen pratique en circulation du permis de conduire</span></p>
      <ol>
        <li class="formation-text_li">Connaître le déroulement de l’examen pratique en circulation du permis de conduire et en comprendre les intérêts.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier les signes du stress et comment les atténuer.</li>
        <p class="formation-text space"></p>
      </ol>
    </div>
  </main>

  <%- include('../partials/footer') %>
