<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PLAN DE FORMATION</h1>
      <h2>- CATÉGORIE B -</h2>
    </div>
    <div class="formation-middle">

      <p class="formation-text">Le programme de formation se divise en 4 compétences:</p>
      <ul>
        <li class="formation-text_li">C1 : Maîtriser le maniement du véhicule dans un trafic faible ou nul.</li>
        <li class="formation-text_li">C2 : Appréhender la route et circuler dans des conditions normales.</li>
        <li class="formation-text_li">C3 : Circuler dans des conditions difficiles et partager la route avec les autres usagers.</li>
        <li class="formation-text_li">C4 : Pratiquer une conduite autonome, sûre et économique.</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text">Notre formation est organisée autour de ce programme en plusieurs objectifs de travail en abordant pour chacun d'eux :</p>
      <ul>
        <li class="formation-text_li">Le pourquoi.</li>
        <li class="formation-text_li">Le comment.</li>
        <li class="formation-text_li">Les risques.</li>
        <li class="formation-text_li">Les influences de l’entourage et du mode de vie de l’élève.</li>
        <li class="formation-text_li">Les pressions exercées par la société, tel que la publicité, le travail, etc.</li>
        <li class="formation-text_li">L'auto-évaluation.</li>
      </ul>

      <p class="formation-text space"></p>
      <p class="formation-text large">I- <span class="underline italic-bold">La formation pratique</span></p>
      <p class="formation-text">L’enseignement de la théorie de la pratique est en général individuel, en voiture ou en salle, au début de la séance ou collectivement en salle sur demande.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C1 : Maîtriser le maniement du véhicule dans un trafic faible ou nul</p>
      <ol>
        <li class="formation-text_li">Savoir s’installer au poste de conduite, connaître et comprendre les précautions à prendre avant de monter/descendre de son véhicule.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Connaître le champ de vision de l'Homme, comprendre ses particularités et faire l'expérience de la tâche aveugle.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir manipuler le volant en ligne droite, en courbe, en intersection, placer le regard et se placer dans sa voie de circulation.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir démarrer sur sol plat en ligne droite, en changeant de direction, avec ou sans accélérateur et s'arrêter. Savoir remettre rapidement le moteur en marche après un calage.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir monter/descendre les vitesses, doser l’accélérateur et le frein à diverses allures.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir maintenir/modifier son allure et sa direction en prenant en compte la rétro vision et les angles morts.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir démarrer en montée et en descente.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir reculer en ligne droite, en courbe et effectuer un demi-tour en sécurité.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C2 : Appréhender la route et circuler dans des conditions normales</p>
      <ol>
        <li class="formation-text_li">Savoir rechercher la signalisation, les indices utiles et en tenir compte.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec régime de priorité à droite hors agglomération.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec régime de priorité à droite en agglomération.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un STOP.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un Cédez le Passage.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir franchir et changer de direction à une intersection, avec peu ou pas de visibilité, sans s’arrêter.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à un giratoire avec une ou plusieurs voies de circulation.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir identifier, franchir et changer de direction à une intersection avec feux tricolores.</li>
        <p class="formation-text space"></p>
        
        <li class="formation-text_li">Savoir manipuler les accessoires du véhicule à l’arrêt et en circulation.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir s’arrêter et stationner en épi, en bataille, en créneau.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C3 : Circuler dans des conditions difficiles et partager la route avec les autres usagers</p>
      <ol>
        <li class="formation-text_li">Savoir évaluer/maintenir des espaces de sécurité et évaluer la vitesse des véhicules.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir effectuer un croisement dans un environnement étroit.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir dépasser à double sens et être dépassé.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir s’insérer, sortir, circuler et dépasser sur voie rapide.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir choisir sa voie de circulation, changer de voie et circuler dans une circulation dense.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir évaluer, franchir un virage le plus en sécurité possible et conduire en déclivité.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">C4 : Pratiquer une conduite autonome, sûre et économique</p>
      <ol>
        <li class="formation-text_li">Savoir suivre un itinéraire en autonomie.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir préparer un voyage sur une longue distance en autonomie.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir effectuer un freinage d’urgence simulé.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir arrêter le véhicule lors d’une défaillance simulée du système de freinage principal.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir maîtriser les différents aspects de l’éco-conduite.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Savoir vérifier l'état de son véhicule, l'entretenir et changer une roue.</li>
        <p class="formation-text space"></p>

        <li class="formation-text_li">Faire l'expérience des effets du téléphone, de la fatigue, de l'alcool sur la conduite.</li>
        <p class="formation-text space"></p>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text large">II- <span class="underline italic-bold">Les formations complémentaires</span></p>
      <p class="formation-text space"></p>
      <p class="formation-text">1 - Effectuer un voyage école (6 heures).</p>
      <p class="formation-text">Le voyage-école est une séquence de formation à la conduite, en vue d'acquérir de l'expérience au volant. Il permet, entre autres, aux élèves d'apprendre à lire une carte, sans utiliser de GPS et surtout, de favoriser l'autonomie nécessaire. La méthode classique d'apprentissage de la conduite se limite ordinairement à rouler pendant une heure, dans un rayon de 15 à 20 km. Ici, il s'agit plutôt de faire un plus long trajet afin de travailler plusieurs choses (effets de la fatigue, autoroute, grande agglomération, etc.). Les élèves prennent confiance en eux avant l'examen pratique, ce qui augmente leurs chances d'obtenir le permis dès la première présentation.</p>
      <p class="formation-text space"></p>
      <p class="formation-text">2 - L'écoute pédagogique (observation d'un cours d'un apprenti conducteur)</p>
      <p class="formation-text">L’écoute pédagogique est une séquence de la formation à la conduite, permettant à l’apprenti conducteur de développer son sens de l’analyse de la route. En étant observateur, nous déchargeons l’apprenti conducteur de la manipulation du véhicule, ce qui lui permet de se concentrer essentiellement sur l’analyse. Par un questionnement, l’observateur justifiera son analyse des différentes situations.</p>

      <p class="formation-text space"></p>
      <p class="formation-text large">III- <span class="underline italic-bold">Préparation à l’examen pratique du permis de conduire.</span></p>
      <p class="formation-text space">1 - Présentation du lieu de l'examen.</p>
      <p class="formation-text space">2 - Connaître le déroulement de l’examen pratique du permis de conduire et en comprendre les intérêts.</p>
      <p class="formation-text space">3 - Avoir des notions de premiers secours.</p>
      <p class="formation-text space">4 - Savoir identifier les signes du stress et comment les atténuer.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
