<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>FORMATION POUR PERSONNES AVEC UN HANDICAP</h1>
   </div>
    <div class="formation-middle">
      <p class="formation-text">Notre école de conduite n'étant pas équipée pour ces formations, nous ne pouvons que vous rediriger vers des structures qui le sont :</p>
      <ul>
        <li class="formation-text_li">Conduite and Co : 95, avenue de la Division Leclerc - 53200 CHÂTEAU-GONTIER - <a href="tel:+33243072725">Tél. 02.43.07.27.25</a></li>
        <li class="formation-text_li">ECF : 35, place Jean Moulin - 53000 LAVAL - <a href="tel:+33243214182">Tél. 02.43.21.41.82</a></li>
        <li class="formation-text_li">Orion Conduite : 43, avenue Robert Buron - 53000 LAVAL - <a href="tel:+33243563622">Tél. 02.43.56.36.22</a></li>
      </ul>
    </div>
  </main>

  <%- include('../partials/footer') %>
