<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>HORAIRES</h1>
      <h2>- COURS THÉORIQUES -</h2>
      <h3>COURS ET TESTS DE CODE (Permis B)</h3>
    </div>
    <div class="formation-middle">
      <img src="/images/formation/horaires.webp" alt="Bilan de compétences">
      <h3>COURS THÉMATIQUES SPÉCIFIQUES</h3>
      <p class="formation-text center">(cours collectifs en salle)</p>


      <p class="formation-text underline italic-bold">1ère semaine impaire du mois :</p>
      <ol>
        <p>Samedi de 12h00 à 13h00 - Alcool, stupéfiants.</p>
        <li>Samedi de 13h00 à 14h00 - Vitesse & freinage.</li>
      </ol>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">1ère semaine impaire du mois :</p>
      <p class="formation-text">1- Samedi de 12h00 à 13h00 - Alcool, stupéfiants.</p>
      <p class="formation-text">2- Samedi de 13h00 à 14h00 - Vitesse & freinage.</p>

      <p class="formation-text space"></p>
      <p class="formation-text underline italic-bold">2ème semaine impaire du mois :</p>
      <p class="formation-text">3- Samedi de 12h00 à 13h00 - La signalisation, les régimes de priorités.</p>
      <p class="formation-text">4- Samedi de 13h00 à 14h00 - Eclairage et avertisseurs, non-port de la ceinture..</p>

      <p class="formation-text large"><span class="underline italic-bold">COURS THÉMATIQUES SPÉCIFIQUES 2 ROUES</span>(Permis A1 & A2)</p>
     
    </div>
  </main>

  <%- include('../partials/footer') %>
