<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>Label qualité</h1>
      <img src="/images/Acceuil/ecoleQualite.png" alt="école qualité">
   </div>
    <div class="formation-middle">
      <p class="formation-text space">Le label « qualité des formations au sein des écoles de conduite » créé par arrêté du 26 février 2018 permet aux usagers d’identifier immédiatement une école de qualité répondant à un cahier des charges précis. Toutes les écoles de conduite et les écoles associatives peuvent prétendre au label.</p>
      <p class="formation-text large underline italic-bold">Un label pour garantir la qualité</p>

      <p class="formation-text space">Validé par le Conseil National de l'Emploi, de la Formation et de l’Orientation Professionnelle (CNEFOP), le label garantit aux élèves conducteurs un enseignement de qualité et une information claire et transparente.  Une école labellisée doit répondre aux critères du référentiel du label qui sont issus du décret n°2015-790 du 30 juin 2015.</p>

      <p class="formation-text large underline italic-bold">Quelles sont les obligations des écoles labellisées ?</p>
      <p class="formation-text underline space">Présenter des objectifs de formation adaptés et clairs</p>
      <p class="formation-text space">Les objectifs de formation doivent être rédigés et affichés clairement sur le site de l’école labellisée et au moyen de documents mis à disposition du public. Chaque programme de formation théorique et pratique doit être détaillé. Les horaires des cours théoriques portant sur des thématiques dispensés par des enseignants de la conduite et de la sécurité routière doivent être affichés de manière visible. L’école labellisée doit promouvoir auprès des conducteurs novices un rendez-vous post-permis peu de temps après l’obtention de leur permis de conduire afin d’évaluer les acquis de la formation avec le conducteur.</p>
      <p class="formation-text underline space">Présenter des informations claires et transparentes</p>
      <p class="formation-text space">L’école labellisée doit mettre à disposition du public toutes les informations lui permettant de choisir son école de conduite ou son association en toute connaissance de cause. Ces informations portent sur : le règlement intérieur, une documentation explicative sur la préparation à l’examen du permis de conduire et le déroulement de celui-ci, le procédé d’évaluation. Elle doit proposer, à chaque élève, un parcours de formation individualisé ainsi qu’une proposition détaillée et chiffrée. L’école labellisée doit établir une traçabilité de l’assiduité des élèves et organiser leur suivi pédagogique.</p>
      <p class="formation-text underline space">Utiliser des moyens pédagogiques</p>
      <p class="formation-text space">L’école labellisée doit disposer de moyens pédagogiques (humains, matériels…) adaptés à son offre de formation. Les personnels enseignants doivent être qualifiés et titulaires d’une autorisation d’enseigner en cours de validité. Elle doit proposer des cours théoriques abordant des thèmes de sécurité routière et animer par un enseignant, un enseignement pratique progressif prenant en compte différentes situations de conduite : conduite de nuit, voies rapides, intempéries, etc.</p>
      <p class="formation-text underline space">Former le personnel enseignant</p>
      <p class="formation-text space">Dans le cadre d’une formation, la relation pédagogique et administrative est essentielle. Ainsi, l’affichage de la liste des enseignants de la conduite et de la sécurité routière, du ou des responsables pédagogiques, de la ou des personnes en charge des relations avec les élèves permet à ces derniers d’identifier l’équipe de l’école labellisée. Cette dernière doit met en place un plan de formation continue de ses enseignants.</p>
      <p class="formation-text underline space">Accompagner le public dans ses choix</p>
      <p class="formation-text space">L’école labellisée doit valoriser l’apprentissage anticipé de la conduite et la conduite supervisée par une information claire. Si elle dispense des formations à la conduite des deux-roues ou trois roues motorisés, elle doit indiquer les lieux de formation et la durée pour s’y rendre ainsi que les modalités d’accueil des pistes. Afin que l’élève puisse effectuer un choix éclairé, l’école labellisée doit fournir, à toute personne en faisant la demande, un bilan annuel comprenant le taux de réussite par filière, le nombre moyen d’heures de formation, L’école labellisée doit disposer d’un site ou d’un page Internet reprenant toutes ces informations.</p>
      <p class="formation-text underline space">Prendre en compte les avis des élèves</p>
      <p class="formation-text space">L’école labellisée doit veiller à sa constante amélioration. Le meilleur moyen est de recueillir les avis certifiés et appréciations rendus par les élèves et anciens élèves. Ces avis peuvent être recueillis soit par un organisme tiers indépendant, soit au moyen d’un questionnaire qui porte au minimum sur : les dispositifs d’accueil, la disponibilité de l’équipe pédagogique, le contenu de la formation, etc. L’école labellisée doit exploiter les avis recueillis de manière à mettre en place de nouvelles pratiques. Elle doit également mettre en place un dispositif de gestion des réclamations afin d’apporter des correctifs éventuels.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
