<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>PERMIS À 1€ PAR JOUR</h1>
      <img src="/images/Acceuil/permis1E.webp" alt="permis 1€">
   </div>
    <div class="formation-middle">
      <p class="formation-text large underline italic-bold">Permis à 1€ par jour, c'est quoi ?</p>

      <p class="formation-text space">C'est un prêt à taux zéro dont les intérêts sont pris en charge par l'État.</p>
      <p class="formation-text space">Le « permis à un euro par jour » a été mis en place par l'État, en partenariat avec les établissements prêteurs et les écoles de conduite, pour aider les jeunes de 15 à 25 ans révolus à financer leurs préparations au permis de conduire. Il permet aux jeunes de bénéficier d'une facilité de paiement : le coût total de la formation au permis ne change pas mais l'établissement financier avance l'argent et l'État paie les intérêts.</p>

      <p class="formation-text large underline italic-bold">Pour quelles catégories de permis ?</p>
      <p class="formation-text">L’opération « permis à un euro par jour » concerne la formation au permis :</p>
      <ul>
        <li class="formation-text_li">de la catégorie B (voiture).</li>
        <li class="formation-text_li">de la catégorie A1 (moto 125cm3).</li>
        <li class="formation-text_li">de la catégorie A2 (moto gros cube).</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text large underline italic-bold">Pour quels montant de prêts ?</p>
      <ul>
        <li class="formation-text_li">Les candidats qui n’ont jamais bénéficié du dispositif peuvent, à l’occasion d’une inscription à une formation au permis de conduire, prétendre à un prêt de 600, 800, 1 000 ou 1 200 €.</li>
        <li class="formation-text_li">Les candidats qui ont déjà bénéficié du dispositif pourront, à l’occasion d’un échec à l’épreuve pratique du permis de conduire, prétendre à un prêt de 300 € pour financer une formation complémentaire en vue de l’obtention de la même catégorie de permis de conduire.</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text large underline italic-bold">Qui peut en bénéficier ?</p>
      <p class="formation-text">Tous les jeunes qui ont entre 15 et 25 ans révolus à la date de signature d’un contrat de formation dans une école de conduite partenaire, quelle que soit leur situation, sous réserve que l’établissement financier accepte le dossier du candidat.</p>
      <p class="formation-text space">Les jeunes bénéficiaires d’une aide publique, qu'elle émane d’une collectivité locale ou de l'État, peuvent également demander à bénéficier du prêt.</p>

      <p class="formation-text large underline italic-bold">Comment en bénéficier ?</p>
      <p class="formation-text">Le candidat majeur ou son représentant légal s'il est mineur, doit directement contracter le prêt avec l’établissement financier. Pour cela, trois possibilités s’offrent à lui selon ses capacités financières et les discussions engagées avec l'organisme prêteur :</p>
      <ul>
        <li class="formation-text_li">soit il fournit un justificatif de revenus avec des revenus suffisants pour rembourser les 30 € par mois.</li>
        <li class="formation-text_li">soit il garantit le remboursement de son prêt par l’apport d’une caution.</li>
        <li class="formation-text_li">soit il s’inscrit dans le cadre d’un co-emprunt (le jeune et une tierce personne empruntent ensemble) afin d’augmenter les chances d’avoir une réponse positive de l'établissement de crédit.</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text large underline italic-bold">Prise en charge publique du cautionnement du prêt</p>
      <p class="formation-text">Certains jeunes ne peuvent pas bénéficier d’un prêt permis à un euro par jour lorsqu’ils ne sont pas en mesure de fournir une caution parentale, ou celle d’un tiers, demandée par les établissements de crédit. </p>
      <p class="formation-text space">Le Comité interministériel de la sécurité routière du 13 janvier 2009 a donc décidé d’assurer la prise en charge publique du cautionnement du prêt permis à un euro par jour pour les jeunes exclus de ce prêt faute de caution, et inscrits dans une démarche de formation ou d’accès à l’emploi.</p>
      <p class="formation-text space">Ces derniers devront se présenter à l’établissement de crédit partenaire du dispositif du permis à un euro par jour munis d’une attestation d’éligibilité à la caution publique établie par un des réseaux accompagnant également partenaire.</p>
      <p class="formation-text space">Toutefois, la décision d’accorder le prêt revient à l’établissement de crédit à l’issue d’une étude des pièces constitutives du dossier de demande de prêt.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
