<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>RÈGLEMENT INTÉRIEUR</h1>
   </div>
    <div class="formation-middle">
      <p class="formation-text space">L’ensemble des élèves de l’auto-école, est tenu de respecter ce règlement intérieur.</p>
      <p class="formation-text space">L’auto-école FORMAT.CONDUITE applique les règles d’enseignement selon les lois en vigueur, notamment par l’arrêté ministériel relatif au référentiel pour l’éducation à une motricité citoyenne (REMC) en vigueur depuis le 01/07/2014. Ce règlement a pour objectif de définir les règles relatives à l’hygiène, à la sécurité ainsi qu’à la discipline nécessaire au bon fonctionnement de l’établissement.</p>


      <p class="formation-text large underline italic-bold">Article 1 : Règles d’hygiène et de sécurité</p>

      <p class="formation-text">Tout élève se doit de respecter les conditions d’hygiène et de sécurité liées au bon fonctionnement de l’auto école :</p>
      <ul>
        <li class="formation-text_li">Respecter la propreté des locaux, l’accueil, la salle de cours, les véhicules, les sanitaires et la salle de détente.</li>
        <li class="formation-text_li">Porter une tenue propre et adéquate à la formation.</li>
        <li class="formation-text_li">Avoir un comportement correct adapté à l’apprentissage de la conduite.</li>
        <li class="formation-text_li">Respecter le matériel mis à disposition.</li>
        <li class="formation-text_li">Interdiction de manger ou de boire dans la salle de code et dans les véhicules.</li>
        <li class="formation-text_li">Respecter le personnel et les autres élèves.</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text large underline italic-bold">Article 2 : Consignes de sécurité</p>
      <p class="formation-text">Tout élève se doit de respecter les consignes de sécurité suivantes :</p>
      <ul>
        <li class="formation-text_li">Des dispositifs d’extincteurs portatifs sont accessibles aux points indiqués.</li>
        <li class="formation-text_li">Des issues de secours se situent à l’avant et à l’arrière de l’établissement. </li>
        <li class="formation-text_li">Interdiction de fumer ou vapoter à l’intérieur de l’établissement, ni dans les véhicules.</li>
        <li class="formation-text_li">Interdiction de consommer ou d’avoir consommé toute boisson alcoolisée ou produit stupéfiant, médicaments pouvant nuire à la conduite d’un véhicule.</li>
        <li class="formation-text_li">Interdiction de fumer dans l’enceinte de l’établissement ou les véhicules école.</li>
      </ul>
      <p class="formation-text space">Tout élève dont le comportement, ou autre, laisserait penser qu’il ait consommé de l’alcool ou des stupéfiants sera soumis avant toute leçon de code ou de conduite à un dépistage immédiat réalisé par le représentant de l’établissement. En cas de test positif, ou de refus de se soumettre au dépistage, la leçon sera annulée et facturée. L’élève sera immédiatement convoqué auprès de la direction pour s’expliquer et voir ensemble les suites à donner sur l’incident.</p>

      <p class="formation-text large underline italic-bold">Article 3 : Accès aux locaux</p>
      <p class="formation-text">Les cours pratiques sont dispensés du lundi au vendredi de 8:00 à 20:00 puis le samedi de 8:00 à 16:00.

        Le secrétariat est ouvert le lundi et vendredi de 10:00 à 12:00 et de 14:00 à 17:00 puis le samedi de 11:00 à 13:00.</p>
      <p class="formation-text space">Les cours théoriques dispensés par un enseignant ont lieux le lundi de 18:00 à 19:00, les mercredi et samedi de 14:00 à 15:00.</p>
      <p class="formation-text space">Des tests audiovisuels individuels sont possibles, sur réservation.</p>

      <p class="formation-text large underline italic-bold">Article 4 : Organisation des cours</p>
      <h3 class="formation-text space">Les cours théoriques :</h3>
      <p class="formation-text space">Ces cours sont dispensés tout au long de l’année, sauf cas exceptionnel, et à disposition en libre accès sans prise de rendez-vous préalable. La salle de code peut être mise à disposition en individuel pour réaliser un test audio visuel, sur rendez-vous. Le respect des horaires de code est indispensable afin de ne pas perturber le bon déroulement de la leçon.</p>
      <p class="formation-text space">Un boîtier de réponse activé par une carte de code est à utiliser pendant les cours théoriques et tests audio visuels, son fonctionnement sera expliqué avant sa première utilisation.</p>
      <p class="formation-text space">Un accès par internet est possible pour travailler à distance, sur demande, via un ordinateur, une tablette ou un Smartphone. Les instructions relatives à la première utilisation sont fournies par mail.</p>
      <p class="formation-text">Les cours théoriques dispensés collectivement par un enseignant sont les suivants :</p>
      <ul>
        <li class="formation-text_li">La circulation routière (panneaux, intersections, circuler, croiser et dépasser, stationner ou s’arrêter).</li>
        <li class="formation-text_li">Le conducteur  (conduire, défaillances du conducteur).</li>
        <li class="formation-text_li">La route (nuit et intempéries, autoroute, zones dangereuses).</li>
        <li class="formation-text_li">Les autres usagers (partage de la route).</li>
        <li class="formation-text_li">Les notions diverses (documents administratifs, chargement et passagers, infractions).</li>
        <li class="formation-text_li">Les premiers secours (protéger, alerter et secourir).</li>
        <li class="formation-text_li">Prendre et quitter son véhicule (s’installer au poste de conduite).</li>
        <li class="formation-text_li">La mécanique et les équipements (entretien et dépannage).</li>
        <li class="formation-text_li">La sécurité du passager et du véhicule (installation des passagers, nouveaux équipements).</li>
        <li class="formation-text_li">L’environnement (écomobilité et écoconduite).</li>
      </ul>

      <h3>Les cours pratiques :</h3>
      <p class="formation-text space underline">1-L’Evaluation</p>
      <p class="formation-text space">Conformément à la réglementation en vigueur, l’établissement doit procéder à une évaluation obligatoire du niveau de l’élève en début de formation. A la suite de cette dernière, l’établissement procède à une estimation du nombre de leçons de conduite, le volume de conduite effective en circulation ne pouvant être inférieur à 20 heures de leçons pratiques. Après connaissance de l’évaluation, l’élève connaîtra le coût total prévisionnel de sa formation et pourra accepter ou mettre fin au contrat. L’objectif est d’amener l’élève au niveau requis pour être autonome et sûr afin qu’il puisse être présenté à l’épreuve pratique du permis de conduire.</p>
      <p class="formation-text space underline">2-Livret d’apprentissage</p>
      <p class="formation-text space">A chaque leçon de conduite l’élève doit être muni de son livret d’apprentissage, et d’une pièce d’identité. Le livret d’apprentissage précise l’ensemble des compétences à acquérir au cours de la formation. Ce livret va donc guider le jeune conducteur dans son parcours et permettre à celui-ci de savoir où il se situe dans sa progression. Il est donc important le remplir à chaque leçon et trajet. À chaque fois que l’apprenti conducteur prend le volant, il devra avoir en sa possession son livret qui sera demandé lors de contrôle routier.</p>
      <p class="formation-text space underline">3-Réservation et annulation des leçons de conduite</p>
      <p class="formation-text space">Les leçons de conduite sont à programmer au fur et à mesure directement à l’auto-école. Toute leçon non décommandée 48 heures ouvrables à l’avance reste due à l’exception de cas de force majeur, dûment justifié.</p>
      <p class="formation-text space">L’auto-école se réserve la possibilité de reporter ou d’annuler les cours et leçons de conduite en cas de force majeure et notamment dans tous les cas ou la sécurité ne pourrait être assurée (conditions atmosphériques, accident, temps, verglas, manifestation, ex…). Les leçons déjà réglées seront reportées à une date ultérieure ou remboursées.</p>
      <p class="formation-text space underline">4-Déroulement d’une leçon de conduite</p>
      <p class="formation-text space">En général, une leçon de conduite se décompose comme ceci : 5 minutes sont requises pour l’installation au poste de conduite et pour déterminer l’objectif de travail / 45 à 50 minutes de conduite effective / 5 à 10 minutes pour faire le bilan de la leçon, tenir à jour le suivi de la formation de l’élève au bureau. Ce déroulement peut varier en fonction d’éléments extérieurs (bouchon ou autres) et/ou des choix pédagogiques de l’enseignant de la conduite.</p>
      <p class="formation-text space underline">5-Retard</p>
      <p class="formation-text space">Au-delà de 15 minutes de retard, la leçon de conduite sera annulée, non reportée et non remboursée.</p>

      <p class="formation-text large underline italic-bold">Article 5 : Tenue vestimentaire exigée</p>
      <p class="formation-text underline">Pour la formation à la catégorie B</p>
      <p class="formation-text space">L’élève doit avoir une tenue vestimentaire correcte. Il doit être muni de chaussures qui sont maintenus aux pieds (tongs, claquettes, etc. sont exclues).</p>
      <p class="formation-text space underline">Pour la formation à la catégorie des deux-roues</p>
      <p class="formation-text space">L’élève doit porter une paire de gants adaptés à la pratique de la moto, soit possédant le marquage NF, CE ou EPI, soit renforcés et munis d’un dispositif de fermeture au poignet. De plus, il lui faudra avoir un blouson ou une veste à manches longues munis pour les épreuves en circulation d’un dossard, ainsi qu’un pantalon ou une combinaison et des bottes ou chaussures montantes.</p>

      <p class="formation-text large underline italic-bold">Article 6 : Utilisation du matériel pédagogique</p>
      <p class="formation-text">Le matériel pédagogique mis à disposition doit toujours être utilisé en présence d’un enseignant ou du personnel de l’établissement.</p>

      <p class="formation-text large underline italic-bold">Article 7 : Assiduité des stagiaires</p>
      <p class="formation-text">Le stagiaire au sein de l’établissement doit faire preuve d’assiduité, notamment par le biais de sa ponctualité et du respect des heures de stage.</p>

      <p class="formation-text large underline italic-bold">Article 8 : Comportement des stagiaires</p>
      <p class="formation-text">Le stagiaire doit faire preuve d’un comportement adéquat en fonction des situations qu’il va être à même de rencontrer. Il doit également porter un tenue vestimentaire correcte.</p>

      <p class="formation-text large underline italic-bold">Article 9 : Sanctions disciplinaires</p>
      <p class="formation-text">Tout manquement à l’une des dispositions dudit règlement pourra, en fonction de sa nature et de sa gravité, faire l’objet de sanctions ci-dessous désignées par ordre d’importance :</p>
      <ul>
        <li class="formation-text_li">Facturation des frais en cas de dégradation.</li>
        <li class="formation-text_li">Avertissement oral.</li>
        <li class="formation-text_li">Avertissement écrit.</li>
        <li class="formation-text_li">Suspension provisoire.</li>
        <li class="formation-text_li">Exclusion définitive de l’établissement.</li>
      </ul>
      <p class="formation-text space"></p>
      <p class="formation-text">Le responsable de l’établissement peut décider d’exclure un élève à tout moment du cursus de formation pour un des motifs suivants :</p>
      <ul>
        <li class="formation-text_li">Attitude empêchant la réalisation du travail de formation.</li>
        <li class="formation-text_li">Évaluation par le responsable pédagogique de  l’inaptitude de l’élève pour la formation.</li>
        <li class="formation-text_li">Non-respect du présent règlement intérieur.</li>
        <li class="formation-text_li">Non-paiement des prestations réalisées.</li>
      </ul>
      <p class="formation-text space">Le présent règlement entre en application dès sa signature.</p>

    </div>
  </main>

  <%- include('../partials/footer') %>
