<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>THÉORIE SPÉCIFIQUE 2 ROUES</h1>
    </div>
    <div class="formation-middle">
      <p class="formation-text">L’apprenti conducteur peut se former au code moto :</p>
      <ul>
        <li class="formation-text_li">Par internet (via des tests « questions/réponses » en ligne mais peut toute fois communiquer avec l’auto-école s’il a des questions).</li>
        <li class="formation-text_li">A l’auto-école, en salle, individuellement ou collectivement (via des cours).</li>
      </ul>
      
      <p class="formation-text space"></p>
      <p class="formation-text large">I- <span class="underline italic-bold">Les thèmes du code moto</span></p>
      <p class="formation-text space"></p>
      <ul>
        <li class="formation-text_li">Équipements de sécurité</li>
        <li class="formation-text_li">Mécanique et sécurité</li>
        <li class="formation-text_li">Documents, passagers, accident</li>
        <li class="formation-text_li">Conducteur</li>
        <li class="formation-text_li">Loi, règles et circulation</li>
        <li class="formation-text_li">Route et risques</li>
        <li class="formation-text_li">Autres usagers</li>
        <li class="formation-text_li">Respect de l’environnement</li>
      </ul>
      
      <p class="formation-text space"></p>
      <p class="formation-text large">II- <span class="underline italic-bold">L'examen théorique moto</span> (ETM)</p>
      <p class="formation-text space underline">Déroulement</p>
      <p class="formation-text">L’épreuve du code moto est organisée par des organismes privés (La Poste, Objectif Code) sur tablette individualisée. 40 visuels (dont 4 vidéos) reproduisent des situations réelles sur la route spécifiques aux 2 roues et portent sur les thèmes du code de la route. Pour réussir l'examen du code, vous devez obtenir 35 réponses justes sur 40, autrement dit, il est toléré jusqu’à 5 fautes.</p>
      <p class="formation-text space">Au début de l’épreuve, le superviseur de l'épreuve vous explique le déroulement de l'épreuve et le fonctionnement des tablettes et des questions d'essais vous seront proposées avant le début de la session d'examen.</p>
      <p class="formation-text space">Il vous faudra être attentif à l’image et au texte avant de valider une réponse. Suivez les conseils pour répondre aux questions, vous n’êtes pas considéré comme un conducteur débutant. Dans les situations de dépassement, vous êtes censé rouler à une vitesse supérieure à celle du véhicule qui vous précède et que vous voulez dépasser.</p>
      <p class="formation-text space">Les questions comportent 2, 3 ou 4 propositions de réponse. Chaque question peut comporter plusieurs bonnes réponses. Une réponse est considérée comme juste lorsque toutes les formulations exactes proposées ont été validées.</p>
      
      <p class="formation-text space underline">Résultat</p>
      <p class="formation-text">Le résultat vous sera communiqué par e-mail, vous détaillant ainsi le nombre de fautes effectuées. Si vous échouez, vous devez attendre 48h avant de pouvoir repasser l'examen. Si vous réussissez, le code est valable pendant 5 ans ou pour 5 présentations à l’épreuve pratique du permis de conduire.</p>



    </div>
  </main>

  <%- include('../partials/footer') %>
