<%- include('../partials/header') %>

  <main class="main-container">
    <div class="formation-top">  
      <h1>THEORIE GENERALE</h1>
   </div>
    <div class="formation-middle">
      <p class="formation-text">L’apprenti conducteur peut se former au code de la route :</p>
      <ul>
        <li class="formation-text_li">Par internet (via des tests « questions/réponses » en ligne mais peut toute fois communiquer avec l’auto-école s’il a des questions)</li>
        <li class="formation-text_li">A l’auto-école, en salle, individuellement ou collectivement, sans enseignant (via des tests « question/réponse »)</li>
        <li class="formation-text_li">A l’auto-école, en salle, collectivement, avec enseignant (via des cours et des tests)</li>
      </ul>
      <p class="formation-text space"></p>

      <p class="formation-text large">I- <span class="underline italic-bold">Les thèmes du code de la route
</span></p>
      <ul>
        <li class="formation-text_li">La loi et la circulation :
          <ol>
            <li class="formation-text_li">Les règles et la circulation.</li>
            <li class="formation-text_li">La vitesse.</li>
            <li class="formation-text_li">Circuler.</li>
            <li class="formation-text_li">L’arrêt et le stationnement.</li>
            <li class="formation-text_li">Les croisements et les dépassements.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Le conducteur :
          <ol>
            <li class="formation-text_li">Vigilance et attitude à l’égard des autres usagers.</li>
            <li class="formation-text_li">Les distances de sécurité.</li>
            <li class="formation-text_li">Les limites du conducteur.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Précautions en prenant et en quittant son véhicule :
          <ol>
            <li class="formation-text_li">Prendre son véhicule.</li>
            <li class="formation-text_li">Quitter son véhicule.</li>
            <li class="formation-text_li">S’installer au poste de conduite.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Documents, passagers, chargement :
          <ol>
            <li class="formation-text_li">Les documents obligatoires ou utiles.</li>
            <li class="formation-text_li">Le contrôle technique.</li>
            <li class="formation-text_li">Le permis à points.</li>
            <li class="formation-text_li">Transporter les passagers.</li>
            <li class="formation-text_li">Charger son véhicule.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Équipements de sécurité des véhicules :
          <ol>
            <li class="formation-text_li">La ceinture de sécurité.</li>
            <li class="formation-text_li">Les équipements de sécurité pour les enfants.</li>
            <li class="formation-text_li">Les airbags.</li>
            <li class="formation-text_li">Les nouvelles technologies.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Mécanique et sécurité :
          <ol>
            <li class="formation-text_li">Les éléments de sécurité et dépannage.</li>
            <li class="formation-text_li">L’entretien régulier.</li>
            <li class="formation-text_li">La notice d’utilisation.</li>
            <li class="formation-text_li">Le compte tour.</li>
            <li class="formation-text_li">Les commandes accessoires et témoins.</li>
            <li class="formation-text_li">Les principaux organes.</li>
            <li class="formation-text_li">Les pneumatiques.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">La route :
          <ol>
            <li class="formation-text_li">Les intempéries.</li>
            <li class="formation-text_li">La conduite de nuit.</li>
            <li class="formation-text_li">Les passages à niveau.</li>
            <li class="formation-text_li">Les tunnels.</li>
            <li class="formation-text_li">Les chantiers routiers.</li>
            <li class="formation-text_li">La circulation des tramways.</li>
            <li class="formation-text_li">Les voies rapides et les autoroutes.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Les autres usagers :
          <ol>
            <li class="formation-text_li">Les usagers vulnérables.</li>
            <li class="formation-text_li">Une route partagée.</li>
            <li class="formation-text_li">Les véhicules lourds.</li>
            <li class="formation-text_li">Les véhicules agricoles et de travaux publics.</li>
            <li class="formation-text_li">Les véhicules prioritaires.</li>
            <li class="formation-text_li">Les autres véhicules d’intérêt général.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Règles et environnement :
          <ol>
            <li class="formation-text_li">Le bruit et la pollution.</li>
            <li class="formation-text_li">Les pics de pollution.</li>
            <li class="formation-text_li">L’éco mobilité.</li>
            <li class="formation-text_li">La conduite économique et écologique.</li>
          </ol>
        </li>

        <p class="formation-text space"></p>
        <li class="formation-text_li">Premiers secours, notions générales :
          <ol>
            <li class="formation-text_li">Protéger.</li>
            <li class="formation-text_li">Alerter.</li>
            <li class="formation-text_li">Être alerter.</li>
            <li class="formation-text_li">Secourir.</li>
            <li class="formation-text_li">Formation.</li>
          </ol>
        </li>
      </ul>

        <p class="formation-text space"></p>
        <p class="formation-text large">II- <span class="underline italic-bold">L'examen théorique général</span> (ETG)</p>
        <p class="formation-text space underline">Déroulement</p>
        <p class="formation-text">L’épreuve du code est organisée par des organismes privés (La Poste, Objectif Code) sur tablette individualisée. 40 visuels (dont 4 vidéos) reproduisent des situations réelles sur la route et portent sur tous les thèmes du code de la route. Pour réussir l'examen du code, vous devez obtenir 35 réponses justes sur 40, autrement dit, il est toléré jusqu’à 5 fautes.</p>
        <p class="formation-text space">Au début de l’épreuve, le superviseur de l'épreuve vous explique le déroulement de l'épreuve et le fonctionnement des tablettes et des questions d'essais vous seront proposées avant le début de la session d'examen.</p>
        <p class="formation-text space">Il vous faudra être attentif à l’image et au texte avant de valider une réponse. Suivez les conseils pour répondre aux questions, vous n’êtes pas considéré comme un conducteur débutant. Dans les situations de dépassement, vous êtes censé rouler à une vitesse supérieure à celle du véhicule qui vous précède et que vous voulez dépasser.</p>
        <p class="formation-text space">Les questions comportent 2, 3 ou 4 propositions de réponse. Chaque question peut comporter plusieurs bonnes réponses. Une réponse est considérée comme juste lorsque toutes les formulations exactes proposées ont été validées.</p>
        
        <p class="formation-text space underline">Résultat</p>
        <p class="formation-text">Le résultat vous sera communiqué par e-mail, vous détaillant ainsi le nombre de fautes effectuées. Si vous échouez, vous devez attendre 48h avant de pouvoir repasser l'examen. Si vous réussissez, le code est valable pendant 5 ans ou pour 5 présentations à l’épreuve pratique du permis de conduire.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
